body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 3fr auto;
  min-height: 100vh;
  font-family: sans-serif;
}

header {
  text-align: center;
  background: #4a752c;
  color: #fff;
}

footer {
  text-align: right;
  color: #fff;
  background: #4a752c;
}

header,
footer {
  padding-left: 10px;
  padding-right: 10px;
}

main {
  display: flex;
  background: #578a34;
}

#snake-wrapper {
  position: relative;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.row {
  font-size: 0;
}

.cell {
  display: inline-block;
  background: #a2d149;
}


.row:nth-child(odd) .cell:nth-child(odd),
.row:nth-child(even) .cell:nth-child(even) {
  background: #aad751
}

@keyframes foodScaling {

  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.4);
  }

}

.cell--food {
  position: relative;
}

.cell--food::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  filter: drop-shadow(0 1px 2px rgba(255, 255, 255, 0.5));
  background-image: url('images/apple.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.2);
  transform-origin: center;
  animation: foodScaling 1.5s linear infinite;
}

.cell--snake {
  position: relative;
}

.cell--snake::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: #4371e6;
/*  border-top: 1px solid #17439f;
  border-bottom: 1px solid #17439f;*/
}

.cell--snake-tail::after {
  background: linear-gradient(to left, #17439f 1%, #4371e6 99%);
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}


.cell--snake-head::after {
  background: linear-gradient(to left, #4371e6 1%, #4e7cf6 50%);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.cell--snake-head::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-image: url(images/eyes.gif);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center top;
  transform: rotate(90deg);
}


.snake-box__progress {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.progress {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.progress__item {
  margin: 0;
  min-width: 60px;
}

.progress__img,
.progress__level,
.progress__score {
  display: inline-block;
  vertical-align: bottom;
}

.progress__img {
  width: 30px;
  height: 30px;
}

.progress__level,
.progress__score {
  color: #fff;
}

.snake-box__end-wrap,
.snake-box__begin-wrap {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.snake-box__end-wrap {
  display: none;
}

.snake-box__end,
.snake-box__begin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  background: #4ac0fd;
}

.snake-box__begin{
  width: 80%;
  height: 250px;
  margin: auto;
}

.snake-box__end {
  width: 80%;
  height: 250px;
  margin: auto;
}
.snake-box__results {
  display: flex;
  align-self: stretch;
  justify-content: space-around;
}

.snake-box__begin-img {
  width: 160px;
  height: auto;
}

.snake-box__text-begin {
  font-size: 18px;
  color: #fff;
}

.snake-box__title-win {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
  background: #1155cc;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  color: #fff;
  transition: .2s linear;
}

.btn:hover,
.btn:focus {
  background: #072863;
}

.snake-box__restart::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: bottom;
  background-image: url('images/arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .3s linear;
}

.snake-box__restart:hover::before,
.snake-box__restart:focus::before {
  transform: rotate(360deg);
}