// colors
$main-color--dark-1: #000000
$main-color--dark-2: $main-color--dark-1 + #111111
$main-color--dark-3: $main-color--dark-1 + #242424
$main-color--dark-4: $main-color--dark-1 + #0d0d0d

$main-color--light-1: #ffffff
$main-color--light-2: $main-color--light-1 - #0f0f0f
$main-color--light-3: #9d9d9d

$secondary-color: #ff4c7c

// fonts
$main-font: 'Roboto', sans-serif


// titles
$title-lvl1--mobile: 2em
$title-lvl2--mobile: 1.875em
$title-lvl3--mobile: 1.125em
$title-lvl4--mobile: 1em

$title-lvl1--desktop: 4.25em
$title-lvl2--desktop: 2.375em
$title-lvl3--desktop: 1.375em
$title-lvl4--desktop: 1.125em

// text
$text-large--mobile: 1.25em
$text-normal--mobile: .875em
$text-small--mobile: .75em

$text-large--desktop: 1.375em
$text-normal--desktop: 1em
$text-small--desktop: .875em

// screens
$responsive-screen-1: 640px
$responsive-screen-2: 980px