* {
  background-origin: border-box;
  margin: 0;
}

body {
  /*overflow-x: hidden;*/
}

.block {
  min-height: 100vh;
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  line-height: 100vh;
  text-align: center;
  font-family: sans-serif;
}

.block-1 {
  background-color: #015;
  color: #fff;
}

.block-2 {
  background-color: #eee;
  color: #000;
}

.block-3 {
  background-color: #e45;
  color: #fff;
}

.block-4 {
  background-color: #1ee;
  color: #fff;
}

.block-5 {
  background-color: #196;
  color: #fff;
}

.block-6 {
  background-color: #113;
  color: #fff;
}

.block-7 {
  background-color: #344;
  color: #fff;
}


.block--scroll-1 {
  background: pink;
}

.block--scroll-2 {
  background: green;
}

.block--scroll-3 {
  background-color: #ee1;
  color: #000;
}

.block--scroll-4 {
  background-color: #889;
  color: #fff;
}


#pinContainer {
  overflow: hidden;
}

.panel {
  position: absolute;
}
