
  @media (min-width: 1920px) {
    :root {
      --container-width: 1664px; } }

  @media (min-width: 1920px) {
    .container {
      max-width: 1664px; } }


@media (min-width: 1920px) {
  .shaped-card {
    max-width: 480px;
    margin-left: 120px; } }


@media (min-width: 1920px) {
  .contacts {
    grid-column-gap: 64px;
    -moz-column-gap: 64px;
    column-gap: 64px; }
  .contacts-map__media {
    max-width: 848px; }
  .contacts-request,
  .contacts-map__info {
    max-width: 800px; } }


@media (min-width: 1920px) {
  .footer-wrap {
    max-width: 1760px; } }


@media (min-width: 1920px) {
  .header-container {
    max-width: 1760px; } }


@media (min-width: 1920px) {
  .development {
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1664px; }
  .dev-create__works {
    grid-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px;
    grid-row-gap: 48px;
    row-gap: 48px; } }


@media (min-width: 1920px) {
  .works__gallery {
    max-width: 1920px;
    padding: 0 24px;
    grid-row-gap: 24px;
    row-gap: 24px;
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px; }
  .gallery-boxes-xl,
  .gallery-boxes-lg,
  .gallery-boxes-md {
    grid-row-gap: 24px;
    row-gap: 24px;
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px; } }


@media (min-width: 1920px) {
  .advantages__list {
    grid-row-gap: 120px;
    row-gap: 120px; }
  .advantages__item-wrap:not(.tns-slide-cloned) {
    grid-column-gap: 120px;
    -moz-column-gap: 120px;
    column-gap: 120px; } }


@media (min-width: 1920px) {
  .intro-works__more-container {
    max-width: 1760px; } }


@media (min-width: 1920px) {
  .technology__content {
    width: 50%; }
  .technology__media {
    width: 58%; }
  .technology--left .technology__media {
    right: -8%; }
  .technology--right .technology__media {
    left: -8%; } }


@media (min-width: 1920px) {
  .project-slider-btn {
    width: 128px; } }


@media (min-width: 1920px) {
  .value-item {
    grid-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px; }
  .value-item__title {
    font-size: 58px;
    line-height: 66px; }
    .value-item__title::after {
      width: 60px;
      height: 7px; }
  .value-item__descr {
    line-height: 2.5; } }


@media (min-width: 1920px) {
  .intro-services-wrap {
    padding-top: 48px;
    padding-bottom: 48px; }
  .intro-services__tabs {
    max-width: 1760px; } }


@media (min-width: 1920px) {
  .service-accordion .target {
    padding: 46px 36px; } }


@media (min-width: 1920px) {
  .create-technology__decor {
    width: 720px;
    height: 720px; } }


@media (min-width: 1920px) {
  .stages__tabs-wrap {
    width: 1784px; }
  .stages__content-descr {
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 28px;
    line-height: 36px; }
  .stages__content-descr > .container {
    max-width: 1664px; }
  .stages__subtitle {
    font-size: 28px;
    line-height: 32px; } }


@media (min-width: 1920px) {
  .stages-scrum__slider-actions {
    max-width: 1664px; }
  .scrum-slider__wheel {
    width: 1120px;
    height: 1120px;
    left: -6%;
    bottom: 96px; }
  .stages-scrum__slider {
    min-height: 502px; } }


@media (min-width: 1920px) {
  .stage-waterfall-wrap {
    --cell-height: 72px;
    max-width: 1664px; }
  .stage-waterfall-line-bg {
    top: -60px;
    bottom: 60px; }
  .stage-waterfall {
    height: 342px;
    grid-column-gap: 70px;
    -moz-column-gap: 70px;
    column-gap: 70px; }
  .waterfall-step__content {
    width: 400px; }
    .waterfall-step__content .shape-1::after,
    .waterfall-step__content .shape-1::before {
      border-right-width: 62px; }
  .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__content {
    padding-top: 20px; }
  .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__content {
    padding-bottom: 20px; }
  .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::before,
  .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::before {
    border-right-width: 62px; }
  .stage-waterfall__item:last-child .waterfall-step__content::before, .stage-waterfall__item:last-child .waterfall-step__content::after {
    border-left-width: 62px; }
  .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::after, .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::before {
    border-right-width: 56px; } }


@media (min-width: 1920px) {
  .support-steps-container {
    max-width: 1760px; }
  .support-steps {
    max-width: 1664px; } }


@media (min-width: 1920px) {
  .support-cms {
    max-width: 1664px; } }