
  @media (min-width: 1366px) {
    :root {
      --container-width: 1240px; } }

  @media (min-width: 1366px) {
    .container {
      max-width: 1240px; } }


@media (min-width: 1366px) {
  .base-intro-wrap {
    min-height: calc(100vh - 98px); } }

  @media (min-width: 1366px) {
    :root {
      --base-text-xs: 500 14px/1 var(--font-primary);
      --base-text-sm: 500 16px/20px var(--font-primary);
      --title-h1: 700 58px/66px var(--font-primary);
      --title-h2: 700 52px/56px var(--font-primary);
      --title-h4: 700 38px/1 var(--font-primary);
      --letter-spacing-h4: 0.02em;
      --title-h6: 700 22px/26px var(--font-primary);
      --title-h7: 700 16px/1 var(--font-primary);
      --base-subtitle: 700 22px/26px var(--font-primary); } }


@media (min-width: 1366px) {
  .form-group {
    position: relative;
    padding-bottom: 16px; }
  .form-group + .form-group {
    margin-top: 16px; }
  .form-error {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 0;
    opacity: 0;
    transition: opacity 0.15s ease-in-out 0.1s; }
  .form-control.invalid .form-error {
    opacity: 1; } }


@media (min-width: 1366px) {
  label.radio-button {
    font: 400 12px/1.2 'Montserrat', sans-serif;
    font: 400 12px/1.2 var(--font-primary); } }


@media (min-width: 1366px) {
  .form-control-text input {
    padding-top: 16px;
    padding-bottom: 16px; } }


@media (min-width: 1366px) {
  .modal {
    max-width: 580px; }
  .modal-content__title + * {
    margin-top: 32px; }
  .modal-content__title {
    font-size: 32px; }
  .modal-content {
    padding: 62px 42px 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px; }
    .modal-content > * + * {
      margin-top: 24px; } }


@media (min-width: 1366px) {
  .tabs-container {
    box-shadow: inset 0 -2px 0 0 rgba(25, 25, 25, 1);
    box-shadow: inset 0 -2px 0 0 rgba(var(--gray-primary), 1); }
  .tab {
    position: relative;
    display: inline-block;
    min-height: 0;
    padding: 8px 20px;
    font-weight: 700;
    line-height: 1.2;
    background: transparent;
    white-space: nowrap;
    color: rgba(25, 25, 25, 1);
    color: rgba(var(--gray-primary), 1);
    text-transform: uppercase;
    transition: color 0.15s cubic-bezier(0.29, 0.18, 0.26, 0.83); }
    .tab::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.15s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background-color: rgba(255, 182, 36, 1);
      background-color: rgba(var(--yellow-secondary), 1); }
    .tab > span {
      display: inline; }
    .tab:hover {
      background: transparent;
      color: rgba(255, 182, 36, 1);
      color: rgba(var(--yellow-secondary), 1); }
      .tab:hover::before {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.15s cubic-bezier(0.29, 0.18, 0.26, 0.83); }
    .tab.is-active {
      background: transparent;
      color: rgba(255, 170, 0, 1);
      color: rgba(var(--yellow-watt), 1);
      cursor: default; }
      .tab.is-active::before {
        transform: scaleX(1);
        transform-origin: left;
        background-color: rgba(255, 170, 0, 1);
        background-color: rgba(var(--yellow-watt), 1); } }


@media (min-width: 1366px) {
  .shaped-card {
    max-width: 432px; }
  .shaped-card__title {
    padding: 42px 32px 0;
    font-size: 46px;
    line-height: 1;
    letter-spacing: normal; }
  .shaped-card__content {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding: 32px 32px 24px; }
  .shaped-card__list li {
    padding-left: calc(20% + 12px);
    font-size: 24px;
    line-height: 24px; }
  .shaped-card__list li::before {
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    display: block;
    height: 5px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(51, 51, 51, 1);
    background-color: rgba(var(--gray-secondary), 1);
    left: 15px;
    width: 30px; }
  .shaped-card__list li:nth-child(4n + 1)::before {
    left: 0;
    width: 60px; }
  .shaped-card__list li:nth-child(5n + 2)::before {
    left: 0;
    width: 34px; }
  .shaped-card__list li:nth-child(5n + 3)::before {
    left: 24px;
    width: 34px; }
  .shaped-card__list li:nth-child(7n + 4)::before {
    left: 24px;
    width: 15px; }
  .shaped-card__list li:nth-child(9n + 6)::before {
    left: 12px;
    width: 15px; }
  .shaped-card__list li + li {
    margin-top: 20px; } }


@media (min-width: 1366px) {
  .contacts-request {
    padding-top: 32px;
    max-width: 596px; }
  .contacts-request__title {
    margin-bottom: 48px; }
  .contacts-request__subtitle {
    margin-bottom: 18px; }
  .contacts {
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }
  .contacts-map {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: none;
    padding-top: 0; }
  .contacts-map__media {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 700px;
    margin-left: auto;
    margin-bottom: 0; }
    .contacts-map__media img {
      height: 100%; }
  .contacts-map__info {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    height: 100%;
    margin-right: 0;
    margin-top: 0;
    padding: 32px 24px 60px 0; }
    .contacts-map__info .callback-details > a + a {
      margin-top: 12px; }
    .contacts-map__info .callback-details {
      margin-bottom: 32px; }
      .contacts-map__info .callback-details > .address {
        margin-bottom: 0; }
    .contacts-map__info .callback-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto; }
    .contacts-map__info .callback-social__wrap > .social-link {
      width: 42px;
      height: 42px; }
    .contacts-map__info .callback-social__wrap > .social-link + .social-link {
      margin-left: 30px; }
  .contacts-map__info .contacts-map__btn-link {
    display: inline-flex; }
  .contacts-map__media .contacts-map__btn-link {
    display: none; } }


@media (min-width: 1366px) {
  .footer-wrap {
    max-width: 1320px; } }


@media (min-width: 1366px) {
  .header-container {
    max-width: 1320px;
    padding: 24px 0; }
  .header__logo > .icon {
    width: 80px;
    height: 48px; }
  .header__nav-list > li + li {
    margin-left: 36px; }
  .header__nav-link {
    font: 500 16px/20px 'Montserrat', sans-serif;
    font: 500 16px/20px var(--font-primary); }
    .header__nav-link::after {
      height: 2px; }
  .header__cta {
    margin-left: 36px;
    padding-left: 32px;
    padding-right: 32px;
    font: 700 16px/22px 'Montserrat', sans-serif;
    font: 700 16px/22px var(--font-primary); } }


@media (min-width: 1366px) {
  .modal.modal-contacts .modal-close {
    font-size: 22px; } }


@media (min-width: 1366px) {
  .intro-index__title {
    max-width: 976px; }
  .intro-index__descr {
    max-width: 784px; } }


@media (min-width: 1366px) {
  .development {
    max-width: 1240px;
    margin-top: -120px;
    padding-top: 60px;
    padding-bottom: 48px; }
  .dev-create,
  .dev-support {
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    grid-row-gap: 32px;
    row-gap: 32px; }
  .dev-create + .dev-support {
    margin-top: 78px; }
  .development-list__title {
    font: 500 24px/34px 'Montserrat', sans-serif;
    font: 500 24px/34px var(--font-primary); }
  .development-list__title + .development-list__descr,
  .development-list__descr + .development-list__descr {
    margin-top: 6px; }
  .development-list__descr {
    font: 500 16px/20px 'Montserrat', sans-serif;
    font: 500 16px/20px var(--font-primary); }
  .development-list li {
    padding-left: 22px; }
    .development-list li::before {
      top: 12px; }
  .development-list > li + li {
    margin-top: 34px; }
  .dev-create .development-note p,
  .dev-support .development-note p {
    font-size: 24px;
    line-height: 34px; }
  .dev-create .development-note p strong,
  .dev-support .development-note p strong {
    margin-bottom: 24px; }
  .dev-create .development-note p + p,
  .dev-support .development-note p + p {
    margin-top: 16px; }
  .development-title,
  .development-list {
    padding-left: 20px; }
  .development-note {
    padding-right: 10px; }
  .dev-create__work {
    min-height: 235px;
    padding: 40px 20px 22px; }
    .dev-create__work > .title {
      margin-top: auto;
      margin-bottom: 8px; }
    .dev-create__work.work-1 img {
      width: 420px;
      margin-bottom: 24px; }
    .dev-create__work.work-2 > .title, .dev-create__work.work-3 > .title {
      max-width: 300px; }
    .dev-create__work.work-2 > .descr, .dev-create__work.work-3 > .descr {
      max-width: 340px;
      margin-top: 0; }
    .dev-create__work.work-2 img {
      top: auto;
      bottom: 8px;
      right: 40px;
      height: 90%; }
    .dev-create__work.work-3 img {
      top: auto;
      right: 24px;
      width: 320px;
      margin-top: 0;
      margin-bottom: 0; } }


@media (min-width: 1366px) {
  .works {
    padding-top: 58px;
    padding-bottom: 58px; }
  .works__about {
    margin-bottom: 20px; }
  .works__title {
    margin-bottom: 10px; }
  .works__subtitle {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px; }
  .works__descr {
    max-width: 1080px;
    font-size: 24px;
    line-height: 26px; }
  .gallery-link {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 20px; } }


@media (min-width: 1366px) {
  .advantages {
    padding: 72px 48px 88px; }
  .advantages__title {
    margin-bottom: 96px; }
  .advantages__list {
    grid-row-gap: 96px;
    row-gap: 96px; }
  .advantages__item-wrap:not(.tns-slide-cloned) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    grid-column-gap: 46px;
    -moz-column-gap: 46px;
    column-gap: 46px; }
  .advantage__num {
    font-size: 240px;
    left: -6px;
    top: -48px; }
  .advantage__title {
    padding-left: 18px;
    font-size: 22px;
    line-height: 26px; }
    .advantage__title > span {
      max-width: 216px; }
    .advantage__title > .icon {
      font-size: 60px; }
  .advantage__descr {
    font-size: 16px;
    line-height: 20px; } }


@media (min-width: 1366px) {
  .price {
    padding-top: 56px;
    padding-bottom: 44px; }
    .price .tns-nav {
      margin-top: 24px; }
  .price__title {
    margin-bottom: 54px; }
  .price-item {
    padding: 30px; }
    .price-item.no-button .price-item__descr {
      font-size: 18px;
      line-height: 24px; }
  .price__item + .price__item {
    margin-left: 50px; }
  .price-item__title {
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 26px; }
  .price-item__descr {
    font-size: 16px;
    line-height: 22px; } }


@media (min-width: 1366px) {
  .insta-feed-slider {
    padding-bottom: 40px;
    padding-top: 40px; } }


@media (min-width: 1366px) {
  .intro-works__title {
    max-width: 976px; }
  .intro-works__descr {
    max-width: 784px; } }


@media (min-width: 1366px) {
  .portfolio {
    padding-top: 42px;
    padding-bottom: 60px; }
  .portfolio__tabs {
    margin-bottom: 42px; }
  .portfolio__actions {
    margin-top: 80px;
    grid-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    max-width: 1240px; }
  .portfolio__more > .btn,
  .portfolio__presentation > .btn {
    min-height: 56px; } }


@media (min-width: 1366px) {
  .intro-privacy {
    padding-top: 82px;
    padding-bottom: 432px; } }


@media (min-width: 1366px) {
  .privacy-wrap {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 380px, #DFE3E4 380px, #DFE3E4 482px, #ffffff 482px);
    padding-bottom: 64px; }
  .privacy {
    margin-top: -380px;
    padding: 42px 64px; }
  .privacy-list li + li {
    margin-top: 36px; }
  .privacy-list__title {
    font-weight: 700; }
    .privacy-list__title + * {
      margin-top: 18px; }
  .privacy-list__content {
    line-height: 20px; } }


@media (min-width: 1366px) {
  .intro-project {
    grid-column-gap: 64px;
    -moz-column-gap: 64px;
    column-gap: 64px;
    padding-top: 96px;
    padding-bottom: 320px; }
  .intro-project__title {
    font-size: 52px; } }


@media (min-width: 1366px) {
  .task-wrap {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 218px, #DFE3E4 218px);
    background-image: linear-gradient(to bottom, rgba(var(--white), 0) 218px, #DFE3E4 218px); }
  .task__about {
    margin-top: -218px;
    padding: 72px 36px 82px 50px; }
  .task__company {
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    letter-spacing: -0.03em; }
  .task__shaped-card {
    margin-top: -144px;
    margin-left: 48px; }
  .task__media {
    padding-top: 82px;
    padding-bottom: 32px; } }


@media (min-width: 1366px) {
  .technology-box {
    padding: 82px 50px 120px; }
  .technology + .technology {
    margin-top: 176px; }
  .technology__title {
    margin-bottom: 64px; }
  .technology__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 48px; } }


@media (min-width: 1366px) {
  .project-slider-wrap {
    position: relative;
    padding-top: 164px;
    padding-bottom: 40px;
    margin-top: -122px; }
    .project-slider-wrap .tns-nav {
      margin-top: 48px; }
  .project-slider__nav {
    margin-top: 0; }
  .project-slider-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100px;
    font-size: 42px;
    color: #F2F2F2;
    transition: background-color 0.15s ease-in-out; }
    .project-slider-btn.next {
      right: 0;
      padding: 0 0 0 20px;
      text-align: left; }
    .project-slider-btn.prev {
      left: 0;
      padding: 0 20px 0 0;
      text-align: right; }
    .project-slider-btn:hover, .project-slider-btn.focus-visible {
      color: #F2F2F2;
      background-color: rgba(25, 25, 25, 0.5);
      background-color: rgba(var(--gray-primary), 0.5); }
    .project-slider-btn .icon.mob {
      display: none; }
    .project-slider-btn .icon.desktop {
      display: inline; }
    .project-slider-btn + .project-slider-btn {
      margin-left: 0; }
  .project-slider__item {
    min-width: 310px; } }


@media (min-width: 1366px) {
  .intro-about {
    padding-top: 120px;
    padding-bottom: 400px; } }


@media (min-width: 1366px) {
  .team__about {
    margin-top: -218px;
    padding: 72px 36px 82px 50px; }
  .team__descr {
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: -0.03em; }
  .team__shaped-card {
    margin-top: -144px;
    margin-left: 48px; }
    .team__shaped-card .shaped-card__content {
      padding-top: 28px;
      padding-bottom: 20px; } }


@media (min-width: 1366px) {
  .values {
    padding-bottom: 30px; }
  .values-credo-wrap {
    margin-top: -106px;
    padding-top: 168px;
    padding-bottom: 56px;
    font-size: 24px;
    line-height: 34px; }
    .values-credo-wrap p {
      max-width: 954px; }
  .values-credo__presentation {
    margin-top: 38px;
    font-size: 20px;
    max-width: 580px; }
  .values-slider__heading {
    margin-bottom: 64px; }
    .values-slider__heading .title {
      font-size: 32px;
      line-height: 36px; }
  .value-item {
    display: -ms-grid;
    display: grid;
    align-items: flex-start;
    -ms-grid-columns: minmax(0, 1fr) 57%;
    grid-template-columns: minmax(0, 1fr) 57%;
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px; }
  .value-item__title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px; }
    .value-item__title::after {
      width: 50px;
      height: 6px; }
  .value-item__descr {
    font-size: 26px;
    line-height: 48px; } }