
  @media (min-width: 768px) {
    :root {
      --container-width: 688px; } }

  @media (min-width: 768px) {
    .container {
      max-width: 688px;
      padding-left: 0;
      padding-right: 0; } }


@media (min-width: 768px) {
  .base-intro-wrap {
    min-height: calc(100vh - 72px); }
  .base-intro {
    padding-bottom: 20vh; } }


@media (min-width: 768px) {
  .shaped-card__title {
    padding-left: 42px 24px 0; }
  .shaped-card__content {
    padding: 24px 24px 16px; } }


@media (min-width: 768px) {
  .contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px; }
  .contacts-map {
    display: flex;
    flex-direction: column;
    max-width: 334px;
    margin-left: auto;
    padding-top: 16px; }
  .contacts-map__media {
    margin-bottom: 36px; }
  .contacts-map__media .contacts-map__btn-link {
    position: relative;
    bottom: 0;
    margin-top: 16px; }
  .contacts-map__info {
    margin-top: auto;
    padding: 0 0 16px; }
  .contacts-request {
    order: 1;
    max-width: 334px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px; } }


@media (min-width: 768px) {
  .footer-wrap {
    max-width: 688px;
    padding: 20px 0 0; }
    .footer-wrap::before {
      content: '';
      display: block;
      height: 1px;
      background-color: rgba(236, 235, 236, 1);
      background-color: rgba(var(--background), 1); }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px; }
  .footer__copy {
    margin-top: 0;
    font-weight: 700;
    line-height: 17px; }
    .footer__copy > span {
      display: inline; }
    .footer__copy > span + span {
      margin-top: 0; }
  .footer__link {
    font-size: 14px;
    line-height: 17px; } }


@media (min-width: 768px) {
  .header {
    position: static; }
  .header-container {
    max-width: 688px;
    padding: 16px 0; }
  .header__logo > .icon {
    width: 66px;
    height: 40px; }
  .header__nav {
    position: static;
    padding: 0; }
  .header__nav-list {
    display: flex;
    align-items: center; }
    .header__nav-list > li + li {
      margin-top: 0;
      margin-left: 24px; }
  .header__nav-link {
    font: 500 14px/16px 'Montserrat', sans-serif;
    font: 500 14px/16px var(--font-primary); }
    .header__nav-link::after {
      height: 1px; }
  .header__cta {
    margin-left: 24px; }
  .header__humburger {
    display: none; } }


@media (min-width: 768px) {
  .modal.modal-contacts {
    padding-top: 0; } }


@media (min-width: 768px) {
  .intro-index__title {
    max-width: 568px; }
  .intro-index__descr {
    max-width: 480px; } }


@media (min-width: 768px) {
  .development {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -72px;
    padding: 32px 20px 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.32);
    box-shadow: var(--popup-shadow); }
  .development-list,
  .development-title,
  .development-note__container,
  .dev-support .development-btn,
  .dev-create__works {
    max-width: none;
    padding: 0; }
  .dev-create,
  .dev-support {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    grid-row-gap: 24px;
    row-gap: 24px; }
  .dev-create + .dev-support {
    margin-top: 56px; }
  .development-title {
    margin-bottom: 0;
    grid-column: -1/1; }
  .development-list > li + li {
    margin-top: 24px; }
  .development-note {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: transparent;
    color: #828282; }
  .dev-create__works {
    grid-column: -1/1;
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    grid-row-gap: 20px;
    row-gap: 20px;
    margin-top: 0; }
    .dev-create__works .work-1 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      grid-row: 1/4; }
    .dev-create__works .work-2 {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3; }
    .dev-create__works .work-3 {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
      -ms-grid-row: 3;
      -ms-grid-row-span: 2;
      grid-row: 3/5; }
    .dev-create__works .development-btn {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5; }
  .dev-create__work {
    max-width: none; }
    .dev-create__work.work-2 {
      background-color: rgba(51, 51, 51, 0.9);
      background-color: rgba(var(--gray-secondary), 0.9); }
      .dev-create__work.work-2:hover, .dev-create__work.work-2:focus {
        background-color: rgba(51, 51, 51, 0.7);
        background-color: rgba(var(--gray-secondary), 0.7); }
    .dev-create__work.work-3 {
      background-color: rgba(51, 51, 51, 0.8);
      background-color: rgba(var(--gray-secondary), 0.8); }
      .dev-create__work.work-3:hover, .dev-create__work.work-3:focus {
        background-color: rgba(51, 51, 51, 0.7);
        background-color: rgba(var(--gray-secondary), 0.7); }
  .dev-create .development-note p {
    font-size: 16px;
    line-height: 20px; }
  .dev-create .development-note p strong {
    display: inline-block;
    margin-bottom: 16px; }
  .dev-support .development-btn {
    margin-top: auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3; }
  .dev-support .development-note p strong {
    font-weight: 500;
    letter-spacing: normal; }
  .dev-support .development-note p {
    font-size: 16px;
    line-height: 20px; } }


@media (min-width: 768px) {
  .works {
    padding-top: 32px;
    padding-bottom: 32px; }
  .works__gallery {
    -ms-grid-columns: minmax(0, 66fr) minmax(0, 17fr) minmax(0, 17fr);
    grid-template-columns: minmax(0, 66fr) minmax(0, 17fr) minmax(0, 17fr); }
  .gallery-boxes-xl {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    grid-row-gap: 10px;
    row-gap: 10px; }
    .gallery-boxes-xl .gallery-item {
      padding-bottom: 75.556%; }
    .gallery-boxes-xl .gallery-item:nth-child(n+2) {
      display: block; }
  .gallery-boxes-lg .gallery-item {
    padding-bottom: 92.917%; }
  .gallery-boxes-lg .gallery-item:nth-child(n+3) {
    display: block; }
  .gallery-boxes-md {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 10px;
    row-gap: 10px; }
    .gallery-boxes-md .gallery-item {
      padding-bottom: 84.583%; } }


@media (min-width: 768px) {
  .advantages-wrap {
    padding-bottom: 0; }
  .advantages {
    padding: 36px 24px 48px; }
  .advantages__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 40px;
    row-gap: 40px; }
  .advantages__title {
    margin-bottom: 40px; }
  .advantage + .advantage {
    margin-top: 0; }
  .advantages .tns-ovh {
    overflow: unset; }
  .advantages__item-wrap:not(.tns-slide-cloned) {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(196px, 196px));
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    justify-content: center; }
  .advantage__title {
    font-size: 16px;
    line-height: 20px; }
  .advantage__descr {
    font-weight: 400;
    text-align: left; }
  .advantage {
    max-width: none; } }


@media (min-width: 768px) {
  .price {
    padding-top: 24px;
    padding-bottom: 20px; }
    .price .tns-nav {
      margin-top: 24px; }
  .price__title {
    margin-bottom: 24px;
    font: 700 30px/40px 'Montserrat', sans-serif;
    font: var(--title-h2); }
  .price__list {
    padding: 0; }
  .price__item + .price__item {
    margin-left: 32px; } }


@media (min-width: 768px) {
  .insta-feed__item + .insta-feed__item {
    margin-left: 32px; }
  .insta-feed .tns-nav {
    padding-bottom: 32px; }
  .insta-feed-slider {
    padding: 32px 0 32px; } }


@media (min-width: 768px) {
  .intro-works__title {
    max-width: 568px; }
  .intro-works__descr {
    max-width: 480px; } }


@media (min-width: 768px) {
  .portfolio {
    padding-top: 24px;
    padding-bottom: 32px; }
  .portfolio__tabs {
    margin-bottom: 32px; }
  .portfolio__actions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px; }
  .portfolio__presentation-wrap {
    order: -1;
    background: transparent; }
  .portfolio__more,
  .portfolio__presentation {
    max-width: none;
    padding: 0; }
    .portfolio__more > .btn,
    .portfolio__presentation > .btn {
      width: 100%; } }


@media (min-width: 768px) {
  .intro-privacy {
    padding-top: 48px;
    padding-bottom: 164px; } }


@media (min-width: 768px) {
  .privacy-wrap {
    padding-bottom: 32px; }
  .privacy {
    margin-top: -120px;
    padding: 24px 32px; } }


@media (min-width: 768px) {
  .intro-project {
    display: -ms-grid;
    display: grid;
    align-items: center;
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    padding-top: 64px;
    padding-bottom: 96px; }
  .intro-project__media {
    margin-top: 0;
    text-align: center; }
    .intro-project__media img {
      width: 100%;
      max-width: none; } }


@media (min-width: 768px) {
  .task-wrap {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 64px, #DFE3E4 64px);
    background-image: linear-gradient(to bottom, rgba(var(--white), 0) 64px, #DFE3E4 64px); }
  .task__about {
    display: block;
    margin-top: -64px;
    padding: 36px 24px 24px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.32);
    box-shadow: var(--popup-shadow); }
    .task__about p {
      max-width: none; }
  .task__shaped-card {
    float: right;
    margin-left: 24px;
    margin-top: -80px;
    max-width: 300px; }
  .task__company {
    padding: 0;
    font-size: 18px;
    line-height: 24px; }
  .task__media {
    display: block;
    margin-left: -48px;
    margin-right: -48px;
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
    background-color: #DFE3E4; }
    .task__media img {
      width: 85%;
      height: auto; } }


@media (min-width: 768px) {
  .technology-box {
    position: relative;
    padding: 40px 24px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.32);
    box-shadow: var(--popup-shadow);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px; }
  .technology {
    position: relative; }
  .technology + .technology {
    margin-top: 120px; }
  .technology__content {
    width: 60%; }
  .technology__media {
    position: absolute;
    top: 50%;
    width: 48%;
    max-height: 120%;
    margin-top: 0;
    transform: translateY(-50%);
    -o-object-fit: contain;
    object-fit: contain; }
  .technology--right .technology__content {
    margin-left: auto; }
  .technology--left .technology__media {
    right: -8%;
    -o-object-position: right center;
    object-position: right center; }
  .technology--right .technology__media {
    left: -8%;
    -o-object-position: left center;
    object-position: left center; }
  .technology__descr {
    letter-spacing: normal; } }


@media (min-width: 768px) {
  .project-slider-wrap {
    padding-top: 82px;
    padding-bottom: 32px;
    margin-top: -56px;
    margin-bottom: 26px; }
    .project-slider-wrap .tns-nav {
      margin-top: 24px; }
      .project-slider-wrap .tns-nav > button {
        border-color: #FFFFFF; }
  .project-slider-btn + .project-slider-btn {
    margin-left: 34px; } }


@media (min-width: 768px) {
  .team-wrap {
    background-color: rgba(25, 25, 25, 1);
    background-color: rgba(var(--gray-primary), 1); }
  .team__about {
    display: block;
    margin-top: -64px;
    padding: 36px 24px 24px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.32);
    box-shadow: var(--popup-shadow); }
  .team__shaped-card {
    float: right;
    margin-left: 24px;
    margin-top: -80px;
    max-width: 300px; }
  .team__descr {
    padding: 0;
    font-size: 18px;
    line-height: 24px; }
  .team__media {
    margin-top: 0;
    padding-bottom: 50%; } }


@media (min-width: 768px) {
  .values {
    padding-bottom: 24px; }
  .values-credo-wrap {
    margin-top: -56px; }
    .values-credo-wrap p {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto; }
  .values-credo__presentation {
    width: 100%;
    max-width: 460px;
    padding-top: 14px;
    padding-bottom: 14px; }
  .values-slider {
    padding: 50px 32px 72px; }
  .values-slider__heading {
    margin-bottom: 48px; }
    .values-slider__heading .title {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px; }
    .values-slider__heading .navigation {
      position: static;
      transform: translateX(0); }
  .value-item__title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 40px; }
    .value-item__title::after {
      width: 40px;
      height: 5px; } }