
  @media (min-width: 1366px) {
    :root {
      --container-width: 1240px; } }

  @media (min-width: 1366px) {
    .container {
      max-width: 1240px; } }


@media (min-width: 1366px) {
  .tns-nav > button:hover, .tns-nav > button.focus-visible {
    border-color: rgba(255, 170, 0, 1) !important;
    border-color: rgba(var(--yellow-watt), 1) !important; } }


@media (min-width: 1366px) {
  .base-intro-wrap {
    min-height: calc(100vh - 98px); } }

  @media (min-width: 1366px) {
    :root {
      --base-text-xs: 500 14px/1 var(--font-primary);
      --base-text-sm: 500 16px/20px var(--font-primary);
      --title-h1: 700 58px/66px var(--font-primary);
      --title-h2: 700 52px/56px var(--font-primary);
      --title-h4: 700 38px/1 var(--font-primary);
      --letter-spacing-h4: 0.02em;
      --title-h6: 700 22px/26px var(--font-primary);
      --title-h7: 700 16px/1 var(--font-primary);
      --base-subtitle: 700 22px/26px var(--font-primary); } }


@media (min-width: 1366px) {
  .form-group {
    position: relative;
    padding-bottom: 16px; }
  .form-group + .form-group {
    margin-top: 16px; }
  .form-error {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 0;
    opacity: 0;
    transition: opacity 0.15s ease-in-out 0.1s; }
  .form-control.invalid .form-error {
    opacity: 1; } }


@media (min-width: 1366px) {
  label.radio-button {
    font: 400 12px/1.2 'Montserrat', sans-serif;
    font: 400 12px/1.2 var(--font-primary); } }


@media (min-width: 1366px) {
  .form-control-text input {
    padding-top: 16px;
    padding-bottom: 16px; } }


@media (min-width: 1366px) {
  .modal {
    max-width: 580px; }
  .modal-content__title + * {
    margin-top: 32px; }
  .modal-content__title {
    font-size: 32px; }
  .modal-content {
    padding: 62px 42px 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px; }
    .modal-content > * + * {
      margin-top: 24px; } }


@media (min-width: 1366px) {
  .tabs-container {
    box-shadow: inset 0 -2px 0 0 rgba(25, 25, 25, 1);
    box-shadow: inset 0 -2px 0 0 rgba(var(--gray-primary), 1);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content; }
  .tab {
    position: relative;
    display: inline-block;
    min-height: 0;
    padding: 8px 20px;
    font-weight: 700;
    line-height: 1.2;
    background: transparent;
    white-space: nowrap;
    color: rgba(25, 25, 25, 1);
    color: rgba(var(--gray-primary), 1);
    text-transform: uppercase;
    transition: color 0.15s cubic-bezier(0.29, 0.18, 0.26, 0.83); }
    .tab::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.15s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background-color: rgba(255, 182, 36, 1);
      background-color: rgba(var(--yellow-secondary), 1); }
    .tab > span {
      display: inline; }
    .tab:hover, .tab.focus-visible {
      background: transparent;
      color: rgba(255, 182, 36, 1);
      color: rgba(var(--yellow-secondary), 1); }
      .tab:hover::before, .tab.focus-visible::before {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.15s cubic-bezier(0.29, 0.18, 0.26, 0.83); }
    .tab.is-active {
      background: transparent;
      color: rgba(255, 170, 0, 1);
      color: rgba(var(--yellow-watt), 1);
      cursor: default; }
      .tab.is-active::before {
        transform: scaleX(1);
        transform-origin: left;
        background-color: rgba(255, 170, 0, 1);
        background-color: rgba(var(--yellow-watt), 1); } }


@media (min-width: 1366px) {
  .shaped-card {
    max-width: 432px; }
  .shaped-card__title {
    padding: 42px 32px 0;
    font-size: 46px;
    line-height: 1;
    letter-spacing: normal; }
  .shaped-card__content {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding: 32px 32px 24px; }
  .shaped-card__list li {
    padding-left: calc(20% + 12px);
    font-size: 24px;
    line-height: 24px; }
  .shaped-card__list li::before {
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    display: block;
    height: 5px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(51, 51, 51, 1);
    background-color: rgba(var(--gray-secondary), 1);
    left: 15px;
    width: 30px; }
  .shaped-card__list li:nth-child(4n + 1)::before {
    left: 0;
    width: 60px; }
  .shaped-card__list li:nth-child(5n + 2)::before {
    left: 0;
    width: 34px; }
  .shaped-card__list li:nth-child(5n + 3)::before {
    left: 24px;
    width: 34px; }
  .shaped-card__list li:nth-child(7n + 4)::before {
    left: 24px;
    width: 15px; }
  .shaped-card__list li:nth-child(9n + 6)::before {
    left: 12px;
    width: 15px; }
  .shaped-card__list li + li {
    margin-top: 20px; } }


@media (min-width: 1366px) {
  .contacts-request {
    padding-top: 32px;
    max-width: 596px; }
  .contacts-request__title {
    margin-bottom: 48px; }
  .contacts-request__subtitle {
    margin-bottom: 18px; }
  .contacts {
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }
  .contacts-map {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: none;
    padding-top: 0; }
  .contacts-map__media {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 700px;
    margin-left: auto;
    margin-bottom: 0; }
    .contacts-map__media img {
      height: 100%; }
  .contacts-map__info {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    height: 100%;
    margin-right: 0;
    margin-top: 0;
    padding: 32px 24px 60px 0; }
    .contacts-map__info .callback-details > a + a {
      margin-top: 12px; }
    .contacts-map__info .callback-details {
      margin-bottom: 32px; }
      .contacts-map__info .callback-details > .address {
        margin-bottom: 0; }
    .contacts-map__info .callback-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto; }
    .contacts-map__info .callback-social__wrap > .social-link {
      width: 42px;
      height: 42px; }
    .contacts-map__info .callback-social__wrap > .social-link + .social-link {
      margin-left: 30px; }
  .contacts-map__info .contacts-map__btn-link {
    display: inline-flex; }
  .contacts-map__media .contacts-map__btn-link {
    display: none; } }


@media (min-width: 1366px) {
  .footer-wrap {
    max-width: 1320px; }
  .footer-menu {
    padding-bottom: 22px; }
  .footer-menu__nav-list {
    justify-content: flex-end; }
    .footer-menu__nav-list li + li {
      margin-left: 42px; } }


@media (min-width: 1366px) {
  .header-container {
    max-width: 1320px;
    padding: 24px 0; }
  .header__logo > .icon {
    width: 80px;
    height: 48px; }
  .header__nav-list > li + li {
    margin-left: 36px; }
  .header__nav-link {
    font: 500 16px/20px 'Montserrat', sans-serif;
    font: 500 16px/20px var(--font-primary); }
    .header__nav-link::after {
      height: 2px; }
  .header__cta {
    margin-left: 36px;
    padding-left: 32px;
    padding-right: 32px;
    font: 700 16px/22px 'Montserrat', sans-serif;
    font: 700 16px/22px var(--font-primary); } }


@media (min-width: 1366px) {
  .modal.modal-contacts .modal-close {
    font-size: 22px; } }


@media (min-width: 1366px) {
  .intro-index__title {
    max-width: 976px; }
  .intro-index__descr {
    max-width: 784px; } }


@media (min-width: 1366px) {
  .development {
    max-width: 1240px;
    margin-top: -120px;
    padding-top: 60px;
    padding-bottom: 48px; }
  .development__more {
    top: 60px; }
  .dev-create,
  .dev-support {
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    grid-row-gap: 32px;
    row-gap: 32px; }
  .dev-create + .dev-support {
    margin-top: 78px; }
  .development-list__title {
    font: 500 24px/34px 'Montserrat', sans-serif;
    font: 500 24px/34px var(--font-primary); }
  .development-list__title + .development-list__descr,
  .development-list__descr + .development-list__descr {
    margin-top: 6px; }
  .development-list__descr {
    font: 500 16px/20px 'Montserrat', sans-serif;
    font: 500 16px/20px var(--font-primary); }
  .development-list li {
    padding-left: 22px; }
    .development-list li::before {
      top: 12px; }
  .development-list > li + li {
    margin-top: 34px; }
  .dev-create .development-note p,
  .dev-support .development-note p {
    font-size: 24px;
    line-height: 34px; }
  .dev-create .development-note p strong,
  .dev-support .development-note p strong {
    margin-bottom: 24px; }
  .dev-create .development-note p + p,
  .dev-support .development-note p + p {
    margin-top: 16px; }
  .development-title,
  .development-list {
    padding-left: 20px; }
  .development-note {
    padding-right: 10px; }
  .dev-create__work {
    min-height: 235px;
    padding: 40px 20px 22px; }
    .dev-create__work > .title {
      margin-top: auto;
      margin-bottom: 8px; }
    .dev-create__work.work-1 img {
      width: 420px;
      margin-bottom: 24px; }
    .dev-create__work.work-2 > .title, .dev-create__work.work-3 > .title {
      max-width: 300px; }
    .dev-create__work.work-2 > .descr, .dev-create__work.work-3 > .descr {
      max-width: 340px;
      margin-top: 0; }
    .dev-create__work.work-2 img {
      top: auto;
      bottom: 8px;
      right: 40px;
      height: 90%; }
    .dev-create__work.work-3 img {
      top: auto;
      right: 24px;
      width: 320px;
      margin-top: 0;
      margin-bottom: 0; } }


@media (min-width: 1366px) {
  .works {
    padding-top: 58px;
    padding-bottom: 58px; }
  .works__about {
    margin-bottom: 20px; }
  .works__title {
    margin-bottom: 10px; }
  .works__subtitle {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px; }
  .works__descr {
    max-width: 1080px;
    font-size: 24px;
    line-height: 26px; }
  .gallery-link {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 20px; } }


@media (min-width: 1366px) {
  .advantages {
    padding: 72px 48px 88px; }
  .advantages__title {
    margin-bottom: 96px; }
  .advantages__list {
    grid-row-gap: 96px;
    row-gap: 96px; }
  .advantages__item-wrap:not(.tns-slide-cloned) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    grid-column-gap: 46px;
    -moz-column-gap: 46px;
    column-gap: 46px; }
  .advantage__num {
    font-size: 240px;
    left: -6px;
    top: -48px; }
  .advantage__title {
    padding-left: 18px;
    font-size: 22px;
    line-height: 26px; }
    .advantage__title > span {
      max-width: 216px; }
    .advantage__title > .icon {
      font-size: 60px; }
  .advantage__descr {
    font-size: 16px;
    line-height: 20px; } }


@media (min-width: 1366px) {
  .price {
    padding-top: 56px;
    padding-bottom: 44px; }
    .price .tns-nav {
      margin-top: 24px; }
  .price__title {
    margin-bottom: 54px; }
  .price-item {
    padding: 30px; }
    .price-item.no-button .price-item__descr {
      font-size: 18px;
      line-height: 24px; }
  .price__item + .price__item {
    margin-left: 50px; }
  .price-item__title {
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 26px; }
  .price-item__descr {
    font-size: 16px;
    line-height: 22px; } }


@media (min-width: 1366px) {
  .insta-feed-slider {
    padding-bottom: 40px;
    padding-top: 40px; } }


@media (min-width: 1366px) {
  .intro-works__title {
    max-width: 976px; }
  .intro-works__descr {
    max-width: 784px; }
  .intro-works__more-container {
    max-width: 1320px; } }


@media (min-width: 1366px) {
  .portfolio {
    padding-top: 42px;
    padding-bottom: 60px; }
  .portfolio__tabs {
    margin-bottom: 42px; }
  .portfolio__actions {
    margin-top: 80px;
    grid-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    max-width: 1240px; }
  .portfolio__more > .btn,
  .portfolio__presentation > .btn {
    min-height: 56px; } }


@media (min-width: 1366px) {
  .intro-privacy {
    padding-top: 82px;
    padding-bottom: 432px; } }


@media (min-width: 1366px) {
  .privacy-wrap {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 380px, #DFE3E4 380px, #DFE3E4 482px, #ffffff 482px);
    padding-bottom: 64px; }
  .privacy {
    margin-top: -380px;
    padding: 42px 64px; }
  .privacy-list li + li {
    margin-top: 36px; }
  .privacy-list__title {
    font-weight: 700; }
    .privacy-list__title + * {
      margin-top: 18px; }
  .privacy-list__content {
    line-height: 20px; } }


@media (min-width: 1366px) {
  .intro-project {
    grid-column-gap: 64px;
    -moz-column-gap: 64px;
    column-gap: 64px;
    padding-top: 96px;
    padding-bottom: 320px; }
  .intro-project__title {
    font-size: 52px; } }


@media (min-width: 1366px) {
  .task-wrap {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 218px, #DFE3E4 218px);
    background-image: linear-gradient(to bottom, rgba(var(--white), 0) 218px, #DFE3E4 218px); }
  .task__about {
    margin-top: -218px;
    padding: 72px 36px 82px 50px; }
  .task__company {
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    letter-spacing: -0.03em; }
  .task__shaped-card {
    margin-top: -144px;
    margin-left: 48px; }
  .task__media {
    padding-top: 82px;
    padding-bottom: 32px; } }


@media (min-width: 1366px) {
  .technology-box {
    padding: 82px 50px 120px; }
  .technology + .technology {
    margin-top: 176px; }
  .technology__title {
    margin-bottom: 64px; }
  .technology__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 48px; } }


@media (min-width: 1366px) {
  .project-slider-wrap {
    position: relative;
    padding-top: 164px;
    padding-bottom: 40px;
    margin-top: -122px; }
    .project-slider-wrap .tns-nav {
      margin-top: 48px; }
  .project-slider__nav {
    margin-top: 0; }
  .project-slider-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100px;
    font-size: 42px;
    color: #F2F2F2;
    transition: background-color 0.15s linear; }
    .project-slider-btn.next {
      right: 0;
      padding: 0 0 0 20px;
      text-align: left; }
    .project-slider-btn.prev {
      left: 0;
      padding: 0 20px 0 0;
      text-align: right; }
    .project-slider-btn:hover, .project-slider-btn.focus-visible {
      color: #F2F2F2;
      background-color: rgba(25, 25, 25, 0.5);
      background-color: rgba(var(--gray-primary), 0.5); }
    .project-slider-btn .icon.mob {
      display: none; }
    .project-slider-btn .icon.desktop {
      display: inline; }
    .project-slider-btn + .project-slider-btn {
      margin-left: 0; }
  .project-slider__item {
    min-width: 310px; } }


@media (min-width: 1366px) {
  .intro-about {
    padding-top: 120px;
    padding-bottom: 400px; } }


@media (min-width: 1366px) {
  .team__about {
    margin-top: -218px;
    padding: 72px 36px 82px 50px; }
  .team__descr {
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: -0.03em; }
  .team__shaped-card {
    margin-top: -144px;
    margin-left: 48px; }
    .team__shaped-card .shaped-card__content {
      padding-top: 28px;
      padding-bottom: 20px; } }


@media (min-width: 1366px) {
  .values {
    padding-bottom: 30px; }
  .values-credo-wrap {
    margin-top: -106px;
    padding-top: 168px;
    padding-bottom: 56px;
    font-size: 24px;
    line-height: 34px; }
    .values-credo-wrap p {
      max-width: 954px; }
  .values-credo__presentation {
    margin-top: 38px;
    font-size: 20px;
    max-width: 580px; }
  .values-slider__heading {
    margin-bottom: 64px; }
    .values-slider__heading .title {
      font-size: 32px;
      line-height: 36px; }
  .value-item {
    display: -ms-grid;
    display: grid;
    align-items: flex-start;
    -ms-grid-columns: minmax(0, 1fr) 57%;
    grid-template-columns: minmax(0, 1fr) 57%;
    grid-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px; }
  .value-item__title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px; }
    .value-item__title::after {
      width: 50px;
      height: 6px; }
  .value-item__descr {
    font-size: 26px;
    line-height: 48px; } }


@media (min-width: 1366px) {
  .intro-services__descr {
    max-width: 784px; }
  .intro-services__pretitle + * {
    margin-top: 28px; }
  .intro-services__title .num {
    top: 10px;
    font-size: 30px; }
  .intro-services__tabs {
    max-width: 1320px; } }


@media (min-width: 1366px) {
  .service-accordion-wrap {
    display: flex;
    padding-top: 48px;
    height: 100vh;
    min-height: 100vh; }
  .service-accordion {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px; }
    .service-accordion .control {
      min-width: 98px;
      width: 98px; }
    .service-accordion .target {
      display: block;
      width: auto;
      height: calc(100% - 50px);
      padding: 46px 32px;
      min-width: 98px;
      width: 98px;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      transform: scale(-1);
      font-size: 4.215vh; }
      .service-accordion .target::before {
        bottom: 100%;
        right: auto;
        left: 0;
        width: 24px;
        height: 50px; }
      .service-accordion .target::after {
        top: auto;
        bottom: 100%;
        right: 0;
        border-bottom: 50px solid transparent;
        border-left: 62px solid transparent;
        transform: scaleX(-1); }
    .service-accordion .item[data-status="expanded"] {
      flex: 0 1 auto; }
    .service-accordion .item:nth-child(5n + 1) {
      box-shadow: 80px 0 rgba(51, 51, 51, 1);
      box-shadow: 80px 0 rgba(var(--gray-secondary), 1);
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60px, rgba(51, 51, 51, 1) 60px);
      background-image: linear-gradient(to right, rgba(var(--white), 0) 60px, rgba(var(--gray-secondary), 1) 60px); }
      .service-accordion .item:nth-child(5n + 1) .target::before {
        border-top-color: rgba(25, 25, 25, 1);
        border-top-color: rgba(var(--gray-primary), 1); }
    .service-accordion .item:nth-child(5n + 2) {
      box-shadow: 80px 0 0 #444444;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60px, #444444 60px);
      background-image: linear-gradient(to right, rgba(var(--white), 0) 60px, #444444 60px); }
      .service-accordion .item:nth-child(5n + 2) .target::before {
        border-top-color: rgba(51, 51, 51, 1);
        border-top-color: rgba(var(--gray-secondary), 1); }
    .service-accordion .item:nth-child(5n + 3) {
      box-shadow: 80px 0 0 #555555;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60px, #555555 60px);
      background-image: linear-gradient(to right, rgba(var(--white), 0) 60px, #555555 60px); }
      .service-accordion .item:nth-child(5n + 3) .target::before {
        border-top-color: #444444; }
    .service-accordion .item:nth-child(5n + 4) {
      box-shadow: 80px 0 0 #666666;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60px, #666666 60px);
      background-image: linear-gradient(to right, rgba(var(--white), 0) 60px, #666666 60px); }
      .service-accordion .item:nth-child(5n + 4) .target::before {
        border-top-color: #555555; }
    .service-accordion .item:nth-child(5n + 5) {
      box-shadow: 80px 0 0 #777777;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60px, #777777 60px);
      background-image: linear-gradient(to right, rgba(var(--white), 0) 60px, #777777 60px); }
      .service-accordion .item:nth-child(5n + 5) .target::before {
        border-top-color: #666666; }
    .service-accordion .item,
    .service-accordion .control {
      display: flex; }
    .service-accordion .panel {
      width: 0px;
      height: auto;
      padding-bottom: 0;
      transition: opacity 0.15s ease 0.25s, width 0.3s linear; }
    .service-accordion .panel__content {
      max-width: 1200px;
      height: 100%;
      margin-left: auto;
      padding-left: 24px; }
    .service-accordion [data-status="expanded"] .panel {
      width: 100%;
      transition: opacity 0.15s ease 0.25s, width 0.3s linear; } }


@media (min-width: 1366px) {
  .service-create {
    max-width: none;
    height: 100%;
    padding-left: 80px; }
  .service-create__about {
    margin-top: auto; }
  .service-create__descr {
    padding-top: 38px;
    padding-right: 38px;
    font-size: 24px;
    line-height: 34px; }
    .service-create__descr p {
      padding-left: 0; }
    .service-create__descr::before {
      top: 52px;
      left: -80px;
      width: 60px;
      height: 7px; }
  .service-create__descr p + .service-create__examples {
    margin-top: 32px; }
  .service-create__options-list {
    padding-bottom: 40px; }
  .bonus-card {
    padding-top: 58px; }
    .bonus-card::before {
      height: 58px;
      border-top-right-radius: 0; }
    .bonus-card::after {
      top: 42px; }
  .bonus-card__icon {
    font-size: 35px;
    top: 6px; }
  .bonus-card__content {
    position: relative;
    padding: 0 52px 36px 78px;
    border-bottom-right-radius: 0; }
    .bonus-card__content::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 62px;
      height: calc(100% + 52px);
      background: #ffc313; }
  .bonus-card__start {
    padding-top: 16px;
    padding-bottom: 16px; }
  .bonus-card__list {
    padding-left: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center; }
    .bonus-card__list li + li {
      margin-top: 28px; } }


@media (min-width: 1366px) {
  .create-technology-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh; }
  .create-technology__acc-wrap {
    position: relative;
    z-index: 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center; }
  .create-technology__decor {
    position: absolute;
    z-index: -1;
    right: 8.75%;
    top: 0;
    bottom: 0;
    display: block;
    width: 629px;
    height: 629px;
    margin-top: auto;
    margin-bottom: auto; }
    .create-technology__decor #cog-1,
    .create-technology__decor #cog-2,
    .create-technology__decor #cog-3 {
      will-change: transform;
      -webkit-animation: rotateCog linear infinite;
      animation: rotateCog linear infinite;
      transform-origin: center;
      transform-box: fill-box; }
    .create-technology__decor #cog-1 {
      -webkit-animation-duration: 7s;
      animation-duration: 7s; }
    .create-technology__decor #cog-2 {
      -webkit-animation-duration: 9s;
      animation-duration: 9s;
      animation-direction: reverse; }
    .create-technology__decor #cog-3 {
      -webkit-animation-duration: 11s;
      animation-duration: 11s; }
  .create-technology__heading {
    padding-top: 48px;
    padding-bottom: 24px; }
  .create-technology__main-title span {
    display: inline; }
  .create-technology .item {
    background: linear-gradient(108.68deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #191919;
    border-radius: 12px; }
  .create-technology .item .target {
    transition: color 0s ease; }
  .create-technology .item .target::before {
    transition: color 0s ease, font-size 0s ease; }
  .create-technology .item[style] .target {
    transition: color 0s ease; }
  .create-technology .item[style] .target::before {
    font-size: 320px;
    color: rgba(255, 204, 102, 1);
    color: rgba(var(--yellow-lightern), 1);
    transition: color 0s ease, font-size .3s ease; }
  .create-technology .item[data-status="expanded"] {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #FFC313; }
  .create-technology [data-status="contracted"] .create-technology__control {
    background: transparent; }
  .create-technology:nth-child(even) [data-status="expanded"] .create-technology__content {
    margin-left: 0;
    border-top-left-radius: 0; }
  .create-technology:nth-child(even) [data-status="expanded"] .create-technology__control {
    background: transparent; }
  .create-technology:nth-child(odd) [data-status="expanded"] .create-technology__content {
    margin-right: 0;
    border-top-right-radius: 0; }
  .create-technology:nth-child(odd) [data-status="expanded"] .create-technology__control {
    background: transparent; }
  .create-technology__accordion {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 22px;
    -moz-column-gap: 22px;
    column-gap: 22px;
    align-items: center; }
  .create-technology__group {
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 20px;
    row-gap: 20px; }
  .create-technology__control::before, .create-technology__control::after {
    display: none; }
  .create-technology__control .target {
    justify-content: flex-start;
    padding: 24px 38px;
    font-size: 30px;
    line-height: 40px;
    text-align: left; }
  .create-technology__content {
    padding: 0 24px 12px;
    background: transparent;
    margin-top: 0; } }


@media (min-width: 1366px) {
  .stages {
    display: flex;
    flex-direction: column;
    padding-bottom: 38px; }
  .stages__heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    max-width: 1200px;
    align-items: center;
    grid-column-gap: 70px;
    -moz-column-gap: 70px;
    column-gap: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 36px; }
  .stages__subtitle {
    font-size: 24px;
    line-height: 34px;
    text-align: right; }
  .stages__tabs-wrap {
    flex: 1 1 100%;
    width: 1320px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.32);
    box-shadow: var(--popup-shadow);
    border-radius: 10px; }
  .stages__tabs {
    background-color: #D0D3DC; }
    .stages__tabs li {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      flex: 0 1 auto; }
    .stages__tabs li a {
      padding: 36px 60px;
      font-size: 46px;
      line-height: 1;
      letter-spacing: 0.02em;
      background-color: #D0D3DC;
      color: rgba(25, 25, 25, 1);
      color: rgba(var(--gray-primary), 1); }
      .stages__tabs li a[aria-selected="true"] {
        color: rgba(51, 51, 51, 1);
        color: rgba(var(--gray-secondary), 1);
        background-color: #F2F2F2; }
  .stages__content {
    overflow: hidden; }
  .stages__content::before,
  .stages__content-descr {
    background-image: none; }
  .stages__content-descr {
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 25px; }
    .stages__content-descr > .container {
      max-width: 1200px; } }


@media (min-width: 1366px) {
  .stages-scrum__title {
    max-width: 70%;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: left;
    font-size: 38px;
    line-height: 38px; }
  .scrum-item__title {
    font-size: 30px;
    line-height: 40px; }
  .scrum-item__title + * {
    margin-top: 30px; }
  .scrum-item__list,
  .scrum-item__text {
    padding-left: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px; }
  .scrum-item__list li + li {
    margin-top: 24px; }
  .scrum-item__list li {
    padding-left: 32px; }
    .scrum-item__list li::before {
      top: 8px;
      width: 10px;
      height: 10px; }
  .scrum-slider-container {
    position: relative; }
    .scrum-slider-container::before {
      content: '';
      position: absolute;
      z-index: -3;
      top: 0;
      bottom: 0;
      left: -24px;
      width: 90%;
      background-image: url("plus-bg-desktop.png");
      background-repeat: repeat;
      background-size: 92px;
      background-position-x: 0;
      opacity: 0.5; }
    .scrum-slider-container::after {
      content: '';
      position: absolute;
      z-index: -3;
      top: 0;
      bottom: 0;
      left: 50px;
      right: 0;
      background: linear-gradient(91.52deg, #FFAA00 -0.14%, rgba(255, 255, 255, 0) 32.66%);
      transform: skewX(22deg); }
  .stages-scrum__slider-actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    top: 48px;
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto; }
  .stages-scrum__slider-btn {
    right: 48px; }
    .stages-scrum__slider-btn.prev {
      top: 0; }
    .stages-scrum__slider-btn.next {
      bottom: 0; }
  .stages-scrum__slider-item {
    align-items: flex-start;
    padding-top: 24px;
    padding-right: 104px; }
  .stages-scrum__slider {
    min-height: 472px;
    padding-top: 48px;
    padding-bottom: 48px; }
    .stages-scrum__slider .tns-nav {
      right: 48px; }
      .stages-scrum__slider .tns-nav > button {
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px; }
  .scrum-slider__wheel {
    width: 1112px;
    height: 1112px;
    left: -8%;
    bottom: 102px; } }


@media (min-width: 1366px) {
  .stage-waterfall-wrap {
    --cell-height: 60px;
    position: relative;
    z-index: 0;
    max-width: 1200px;
    padding-bottom: 160px; }
    .stage-waterfall-wrap::before, .stage-waterfall-wrap::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: -60px;
      right: -60px; }
    .stage-waterfall-wrap::before {
      top: 112px;
      bottom: 92px;
      background-image: url("plus-bg-desktop.png");
      background-repeat: repeat;
      background-size: 90px;
      background-position-x: 24px;
      opacity: 0.5; }
    .stage-waterfall-wrap::after {
      top: 0;
      bottom: 0;
      z-index: -3;
      background-image: url("cells-bg.png");
      background-repeat: no-repeat;
      background-size: 64%;
      background-position: right center; }
  .stage-waterfall-line-bg {
    display: block;
    position: absolute;
    width: calc(100% + 120px);
    z-index: -2;
    left: -60px;
    right: -60px;
    top: 20px;
    bottom: 0;
    will-change: transform;
    -webkit-animation: animate-line 10s linear infinite;
    animation: animate-line 10s linear infinite; }
  .stage-waterfall__heading {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 90px;
    margin-bottom: 50px;
    padding: 16px 24px; }
    .stage-waterfall__heading::before {
      width: 100%; }
    .stage-waterfall__heading::after {
      left: 100%;
      border-top-width: 90px;
      border-right-width: 64px; }
  .stage-waterfall__title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 22px;
    line-height: 26px; }
    .stage-waterfall__title span {
      display: block; }
  .stage-waterfall {
    height: 290px;
    margin-top: 0;
    padding-left: 54px;
    padding-right: 54px;
    -ms-grid-columns: (minmax(0, 1fr))[7];
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-column-gap: 58px;
    -moz-column-gap: 58px;
    column-gap: 58px; }
  .waterfall-step[style][data-status="expanded"],
  .waterfall-step[data-status="expanded"] {
    --cell-bg-color: #FFC313; }
  .stage-waterfall__item:nth-child(even) .waterfall-step__control {
    margin-right: 0; }
  .stage-waterfall__item:nth-child(odd) {
    align-self: flex-end; }
    .stage-waterfall__item:nth-child(odd) .waterfall-step__control {
      margin-left: 0; }
  .waterfall-step {
    position: relative; }
  .waterfall-step .waterfall-step__content .shape-1 > .icon,
  .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1 > .icon {
    display: none; }
  .waterfall-step__control {
    position: relative;
    z-index: 1;
    width: 100%; }
  .waterfall-step__title {
    font-size: 16px; }
  .waterfall-step__icon {
    font-size: 50px; }
  .stage-waterfall__item:nth-child(even) .waterfall-step__target {
    display: flex;
    flex-direction: column-reverse; }
  .stage-waterfall__item:nth-child(even) .waterfall-step__icon {
    margin-top: 16px;
    margin-bottom: 0; }
  .stage-waterfall__item:nth-child(even) .waterfall-step__title,
  .stage-waterfall__item:nth-child(even) .waterfall-step__icon {
    transform: translateY(24px); }
  .stage-waterfall__item:nth-child(odd) .waterfall-step__target {
    display: flex;
    flex-direction: column; }
  .stage-waterfall__item:nth-child(odd) .waterfall-step__title,
  .stage-waterfall__item:nth-child(odd) .waterfall-step__icon {
    transform: translateY(-24px); }
  .waterfall-step__content {
    position: absolute;
    left: 0;
    width: 270px;
    height: 250px; }
    .waterfall-step__content .shape-1 {
      left: 100%;
      right: auto;
      top: 0;
      bottom: 0;
      width: 0;
      height: 100%; }
      .waterfall-step__content .shape-1::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 0;
        border-right: 76px solid transparent;
        border-bottom: 125px solid var(--cell-bg-color); }
      .waterfall-step__content .shape-1::before {
        border-left-width: 0;
        border-right: 76px solid transparent;
        border-top-width: 125px;
        right: auto; }
    .waterfall-step__content::before, .waterfall-step__content::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 100%;
      border-left: 56px solid transparent; }
    .waterfall-step__content::before {
      bottom: 80px;
      border-bottom: 80px solid var(--cell-bg-color); }
    .waterfall-step__content::after {
      bottom: 0;
      border-top: 80px solid var(--cell-bg-color); }
  .waterfall-step__target .corner-left::before, .waterfall-step__target .corner-left::after {
    border-left-width: 54px; }
  .waterfall-step__target .corner-right::before, .waterfall-step__target .corner-right::after {
    border-right-width: 54px; }
  .waterfall-step .panel,
  .waterfall-step[data-status="contracted"] .panel {
    height: 250px;
    transition: opacity 0.15s ease; }
  .waterfall-step .target,
  .waterfall-step[data-status="contracted"] .target {
    transition: background-color 0s; }
  .waterfall-step .waterfall-step__target::before,
  .waterfall-step .waterfall-step__target::after,
  .waterfall-step .waterfall-step__target .corner-left::after,
  .waterfall-step .waterfall-step__target .corner-left::before,
  .waterfall-step .waterfall-step__target .corner-right::after,
  .waterfall-step .waterfall-step__target .corner-right::before,
  .waterfall-step[data-status="contracted"] .waterfall-step__target::before,
  .waterfall-step[data-status="contracted"] .waterfall-step__target::after,
  .waterfall-step[data-status="contracted"] .waterfall-step__target .corner-left::after,
  .waterfall-step[data-status="contracted"] .waterfall-step__target .corner-left::before,
  .waterfall-step[data-status="contracted"] .waterfall-step__target .corner-right::after,
  .waterfall-step[data-status="contracted"] .waterfall-step__target .corner-right::before {
    transition: opacity 0.15s ease; }
  .waterfall-step[data-status="expanded"] .waterfall-step__content {
    margin-bottom: 0;
    padding-left: 18px;
    padding-right: 0; }
    .waterfall-step[data-status="expanded"] .waterfall-step__content::before {
      width: 0;
      height: 0;
      left: auto;
      right: 100%;
      bottom: 80px;
      background-color: transparent; }
  .stage-waterfall__item:nth-child(even) .waterfall-step .waterfall-step__content {
    bottom: 50%; }
    .stage-waterfall__item:nth-child(even) .waterfall-step .waterfall-step__content::before {
      top: 0; }
    .stage-waterfall__item:nth-child(even) .waterfall-step .waterfall-step__content::after {
      top: 80px; }
  .stage-waterfall__item:nth-child(odd) .waterfall-step .waterfall-step__content {
    top: 50%; }
  .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__content {
    padding-top: 10px;
    padding-bottom: 48px; }
  .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__target .corner-right::before {
    border-bottom-width: calc(3*var(--cell-height)/2);
    border-right-width: 54px; }
  .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__target .corner-right::before {
    opacity: 0; }
  .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__target::before {
    opacity: 0; }
  .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__content {
    padding-top: 48px;
    padding-bottom: 10px; }
  .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__target .corner-left::before {
    border-bottom-width: calc(3*var(--cell-height)/2);
    border-left-width: 54px; }
  .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__target .corner-right::after {
    opacity: 0; }
  .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__target::after {
    opacity: 0; }
  .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1,
  .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1 {
    left: 100%;
    top: 0;
    width: 0;
    height: 100%; }
    .stage-waterfall__item:nth-child(even) .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::before,
    .stage-waterfall__item:nth-child(odd) .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::before {
      border-left-width: 0;
      border-right: 76px solid transparent;
      border-top-width: 125px;
      right: auto; }
  .stage-waterfall__item:last-child .waterfall-step__control .corner-right::after {
    opacity: 1; }
  .stage-waterfall__item:last-child .waterfall-step__content {
    left: auto;
    right: 0; }
    .stage-waterfall__item:last-child .waterfall-step__content::before {
      top: 0;
      bottom: auto;
      border-bottom-width: 125px; }
    .stage-waterfall__item:last-child .waterfall-step__content::after {
      border-top-width: 125px; }
    .stage-waterfall__item:last-child .waterfall-step__content::before, .stage-waterfall__item:last-child .waterfall-step__content::after {
      border-left-width: 76px; }
    .stage-waterfall__item:last-child .waterfall-step__content .shape-1::after, .stage-waterfall__item:last-child .waterfall-step__content .shape-1::before {
      border-right-width: 56px; }
    .stage-waterfall__item:last-child .waterfall-step__content .shape-1::after {
      top: auto;
      bottom: 80px;
      border-bottom-width: 80px; }
    .stage-waterfall__item:last-child .waterfall-step__content .shape-1::before {
      border-top-width: 80px; }
  .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__control .corner-right::after {
    opacity: 1; }
  .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__control .corner-left::after {
    opacity: 0; }
  .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::after, .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::before {
    border-right-width: 56px; }
  .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::after {
    border-bottom-width: 80px; }
  .stage-waterfall__item:last-child .waterfall-step[data-status="expanded"] .waterfall-step__content .shape-1::before {
    border-top-width: 80px; }
  .waterfall-step__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px; }
  .waterfall-step__list {
    margin-right: -16px; }
    .waterfall-step__list li {
      padding-left: 18px;
      font-size: 14px; }
      .waterfall-step__list li::before {
        width: 8px;
        height: 8px; }
    .waterfall-step__list li + li {
      margin-top: 12px; } }


@media (min-width: 1366px) {
  .service-accordion.support .item:last-child {
    overflow: visible;
    overflow: initial; }
  .service-support {
    -ms-grid-columns: minmax(0, 9fr) minmax(0, 11fr);
    grid-template-columns: minmax(0, 9fr) minmax(0, 11fr);
    max-width: none;
    height: 100%; }
  .service-support__opts {
    display: flex;
    flex-direction: column;
    padding-bottom: 46px; }
  .service-support__opts-wrap + .service-support__opts-wrap {
    margin-top: auto; }
  .service-support__opts-wrap .icon {
    top: -6px;
    left: -48px; }
  .service-support__opts-list {
    font-size: 22px;
    line-height: 26px; }
    .service-support__opts-list li + li {
      margin-top: 20px; }
  .service-support__media .support-1 {
    width: 264px;
    height: 200px; }
  .service-support__media .support-2 {
    width: 337px;
    height: 278px; }
  .service-support__media .support-3 {
    width: 302px;
    height: 284px; }
  .service-support__media .support-4 {
    width: 260px;
    height: 245px; }
  .service-support__details-descr {
    padding-right: 32px;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: right; }
    .service-support__details-descr::before {
      display: inline-block;
      margin-right: 10px; }
  .tariff-card::before {
    border-top-right-radius: 0; }
  .tariff-card__content::after {
    content: '';
    position: absolute;
    left: 100%;
    right: auto;
    top: -38px;
    height: calc(100% + 38px);
    width: 62px;
    background: #ffc313; }
  .tariff-card__content .package {
    font-size: 22px;
    line-height: 26px; }
  .tariff-card__content .pricing {
    font-size: 58px;
    line-height: 1;
    letter-spacing: normal; }
  .tariff-card__start {
    padding-top: 16px;
    padding-bottom: 16px; }
  .tariff-card__content .pricing,
  .tariff-card__content .package,
  .tariff-card__start {
    max-width: 270px;
    margin-left: auto;
    padding-left: 0; } }


@media (min-width: 1366px) {
  .support-steps-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh; }
  .support-steps-wrap {
    padding-bottom: 60px; }
  .support-steps-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    max-width: 1320px;
    padding: 20px 0; }
  .support-steps__accordion {
    -ms-grid-columns: (minmax(0, 1fr))[4];
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    grid-column-gap: 22px;
    -moz-column-gap: 22px;
    column-gap: 22px; }
  .support-steps__group {
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 22px;
    row-gap: 22px; }
  .support-steps {
    max-width: 1240px; }
  .support-step__target .step-icon {
    font-size: 60px;
    width: 60px; }
  .support-step__target .title {
    font-size: 18px;
    line-height: 26px; }
  .support-step .item {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(var(--white), 1); }
  .support-step .item .num,
  .support-step .item[style][data-status="expanded"] .num {
    font-size: 178px; }
  .support-step .item[data-status="expanded"] .num {
    font-size: 320px; }
  .support-step:nth-child(even) [data-status="expanded"] .support-step__content {
    margin-left: 0;
    border-top-left-radius: 0; }
  .support-step:nth-child(odd) [data-status="expanded"] .support-step__content {
    margin-right: 0;
    border-top-right-radius: 0; }
  .support-step__control {
    background-color: transparent; }
    .support-step__control::before, .support-step__control::after {
      display: none; }
  .support-step__content {
    background-color: transparent;
    margin-top: 0; }
  [data-status="expanded"] .support-step__control {
    box-shadow: none; }
  .support-step__subtitle {
    font-size: 22px;
    line-height: 26px; }
  .support-step__list,
  .support-step__text {
    font-size: 18px; }
  .support-step__list li + li {
    margin-top: 16px; } }


@media (min-width: 1366px) {
  .support-cms__heading {
    padding-top: 48px;
    padding-bottom: 24px; }
  .support-cms {
    max-width: 1240px; } }