
  @media (min-width: 768px) {
    :root {
      --container-width: 688px; } }

  @media (min-width: 768px) {
    .container {
      max-width: 688px;
      padding-left: 0;
      padding-right: 0; } }

  @media (min-width: 768px) {
    main {
      padding-bottom: 100px; } }


@media (min-width: 768px) {
  .slider-nav-btn {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 1;
    border-radius: 50%;
    color: rgba(0, 0, 0, 1);
    color: rgba(var(--black), 1);
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(var(--white), 1);
    box-shadow: 0 5px 15px -4px rgba(60, 61, 64, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.15s linear; }
    .slider-nav-btn > .icon {
      margin-left: 4px; }
    .slider-nav-btn:hover, .slider-nav-btn:focus {
      box-shadow: 0 10px 20px -4px rgba(60, 61, 64, 0.25); } }

  @media (min-width: 768px) {
    :root {
      --title-h1: 500 36px/40px var(--font-golos);
      --title-h2: 500 28px/34px var(--font-golos);
      --title-h3: 500 28px/34px var(--font-golos);
      --title-h4: 500 18px/23px var(--font-golos);
      --letter-spacing-h2: -0.02em; } }


@media (min-width: 768px) {
  .modal {
    max-width: 536px;
    top: 16.6%;
    min-height: 59%;
    max-height: 59%; }
  .modal-close {
    right: 16px;
    top: 16px; }
  .modal-content {
    padding: 72px 92px 80px; }
  .modal-content__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.72px; } }


@media (min-width: 768px) {
  .footer {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; }
  .footer-nav__title {
    font-size: 20px;
    letter-spacing: -0.2px; }
  .footer-nav__link {
    font-size: 15px;
    letter-spacing: -0.15px; }
  .footer-top {
    -ms-grid-columns: minmax(0, 2fr) minmax(0, auto);
    grid-template-columns: minmax(0, 2fr) minmax(0, auto);
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }
  .footer-top__left {
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }
  .footer-bottom {
    margin-top: 64px;
    -ms-grid-columns: minmax(0, 386px) minmax(0, auto);
    grid-template-columns: minmax(0, 386px) minmax(0, auto);
    justify-content: space-between;
    text-align: left; } }


@media (min-width: 768px) {
  .header {
    padding: 24px 0;
    position: relative;
    z-index: 100; }
  .header .only-mob {
    display: none; }
  .header-logo {
    width: 150px; }
  .header-nav__close {
    display: none; }
  .header-menu-btn {
    font: var(--btn-font-sm);
    padding: var(--btn-paddings-sm); }
  .header-menu-btn.mob-menu {
    margin-right: 0; }
  .header .header__right {
    display: flex;
    align-items: center; }
  .header-nav {
    display: block;
    position: static;
    z-index: auto;
    margin-right: 16px;
    padding: 0;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: none; }
  .header .not-auth .nav-general,
  .header .auth.farmacy .nav-general {
    display: flex;
    flex-direction: row-reverse;
    min-height: auto;
    padding: 0;
    border-radius: 0;
    text-align: left;
    background-color: transparent; }
  .header .auth.farmacy .nav-general {
    margin-top: 0; }
  .header .not-auth .nav-general li + li,
  .header .auth.farmacy .nav-general li + li {
    margin-top: 0;
    margin-right: 16px; }
  .header .not-auth .nav-general .nav-link,
  .header .auth.farmacy .nav-general .nav-link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    line-height: 20px; }
  .header .not-auth .nav-general li.help,
  .header .auth.farmacy .nav-general li.help {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 30px;
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none; }
  .header .not-auth .header-help,
  .header .auth.farmacy .header-help {
    display: block;
    margin-left: auto;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    line-height: 20px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 5px 15px -4px rgba(60, 61, 64, 0.25);
    pointer-events: all;
    transition: box-shadow 0.15s linear; }
  .header .not-auth .header-help:hover,
  .header .not-auth .header-help:focus {
    box-shadow: 0px 10px 20px -4px rgba(60, 61, 64, 0.25);
    background-image: none; }
  .nav-auth-wrap {
    padding: 0;
    height: auto;
    text-align: left;
    min-height: auto;
    border-radius: 0;
    background-color: transparent; }
  .nav-auth {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 50;
    min-width: 248px;
    padding: 30px 38px 34px 32px;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(var(--white), 1);
    text-align: right;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s ease-in-out; }
  .header .auth .nav-general li + li,
  .header .auth .nav-extra li + li {
    margin-top: 24px; }
  .header .auth .nav-general {
    margin-top: 24px; }
  .header .auth .nav-link,
  .header .auth .header-help {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.18px; }
  .nav-extra .nav-link {
    font-weight: 600; }
  .nav-lecture {
    margin-top: 0;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(var(--white), 1);
    border: none;
    font: 600 16px/22px 'Golos', sans-serif;
    font: 600 16px/22px var(--font-golos);
    padding: 10px 16px;
    letter-spacing: -0.18px; }
  .nav-auth.nav-tablet-visible {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.2s linear, opacity 0.15s ease-in-out; } }


@media (min-width: 768px) {
  .auth__subtitle {
    max-width: 325px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.18px; }
  .auth__link-btn {
    font-size: 18px;
    line-height: 23px; }
  .auth__form-group + .auth__form-group {
    margin-top: 20px; }
  .auth__note {
    font-size: 14px;
    line-height: 19px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto; }
  .auth--login .auth__subtitle {
    margin-bottom: 6px; }
  .auth--login .auth__form {
    margin-top: 44px;
    margin-bottom: 20px; }
  .auth--register .auth__form {
    margin-top: 42px;
    margin-bottom: 46px; } }


@media (min-width: 768px) {
  .intro-main {
    background-image: url("bg-slider_tablet.jpg"); }
  .intro-main-slider__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    max-height: none;
    min-height: 430px;
    padding: 24px 60px 48px;
    text-align: left; }
  .intro-main__title {
    margin-bottom: 12px;
    max-width: 440px;
    margin-left: 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px; }
  .intro-main__subtitle {
    margin-left: 0;
    font-size: 14px;
    line-height: 18px; } }


@media (min-width: 768px) {
  .why-lekki-wrap {
    padding-top: 20px;
    padding-bottom: 0; }
  .why-lekki {
    padding: 64px 60px 40px;
    border: 1px solid #D1CDC2;
    border-radius: 22px;
    text-align: left; }
  .why-lekki__title {
    margin-bottom: 4px; }
  .why-lekki__subtitle {
    max-width: 238px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.18px; }
  .why-lekki__advantages {
    -ms-grid-columns: (minmax(0, 218px))[2];
    grid-template-columns: repeat(2, minmax(0, 218px));
    justify-content: flex-start;
    grid-column-gap: 76px;
    -moz-column-gap: 76px;
    column-gap: 76px;
    grid-row-gap: 24px;
    row-gap: 24px; }
  .why-lekki__advantage p {
    font-size: 18px;
    line-height: 23px; }
  .why-lekki__advantage .icon {
    margin-bottom: 4px;
    font-size: 34px; }
  .why-lekki__more {
    width: auto;
    max-width: 0;
    min-width: 172px;
    font-size: 16px;
    line-height: 1; } }


@media (min-width: 768px) {
  .advantages {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 18px;
    -moz-column-gap: 18px;
    column-gap: 18px;
    max-width: none;
    padding-top: 120px;
    padding-bottom: 100px; }
  .advantages__item {
    padding-left: 36px;
    padding-right: 36px; }
    .advantages__item.shaped::before {
      width: 223px;
      height: 205px;
      top: -38px;
      left: 24px; }
    .advantages__item.dotted::before {
      background-image: url("bg-adv-dot.png");
      width: 185px;
      height: 153px;
      bottom: -34px;
      right: -8px; }
    .advantages__item.bordered::before {
      width: 219px;
      height: 150px;
      bottom: -28px;
      right: -8px; }
    .advantages__item.bordered::after {
      display: none; }
  .advantage-caption {
    font-size: 18px;
    line-height: 23px; } }


@media (min-width: 768px) {
  .lectures-archive {
    padding: 64px 46px 60px;
    border-radius: 22px; }
  .lectures-archive__title {
    margin-bottom: 48px; }
  .lectures-archive-list {
    grid-row-gap: 32px;
    row-gap: 32px; }
  .lectures-archive-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 180px) minmax(0, 290px);
    grid-template-columns: minmax(0, 180px) minmax(0, 290px);
    -ms-grid-rows: minmax(0, 1fr) minmax(0, auto);
    grid-template-rows: minmax(0, 1fr) minmax(0, auto);
    align-items: flex-start;
    grid-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px; }
  .lectures-archive-item__video {
    margin-bottom: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3; }
  .lectures-archive-item__caption {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.18px; }
  .lectures-archive-item__date {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px; } }


@media (min-width: 768px) {
  .partners {
    position: relative;
    padding: 60px 48px 86px;
    border-radius: 22px;
    border: 1px solid #D1CDC2; }
  .partner-logo img {
    max-width: none; }
  .partners__title {
    margin-bottom: 40px; }
  .partners.with-persons {
    padding-right: 0; }
    .partners.with-persons .partners-slider__item-wrap {
      padding-right: 20px; }
    .partners.with-persons .partners-slider__item {
      width: 258px; }
    .partners.with-persons .partner-logo {
      max-height: 208px;
      flex: 0 1 208px;
      padding: 20px 20px 0; }
    .partners.with-persons .partner-about {
      padding: 36px 24px 48px; }
      .partners.with-persons .partner-about .name {
        margin-bottom: 12px;
        font-size: 24px; }
      .partners.with-persons .partner-about .position {
        font-size: 18px;
        line-height: 21px; } }


@media (min-width: 768px) {
  .webinars-schedule {
    padding-top: 100px;
    padding-bottom: 100px; }
  .webinar-schedule__more {
    font-size: 28px;
    line-height: 53px;
    font-weight: 500;
    letter-spacing: -0.56px; }
  .webinar-schedule-list {
    grid-row-gap: 20px;
    row-gap: 20px; }
  .webinar-item__icon {
    order: 1;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 0; }
  .webinar-item__icon img {
    width: 108px;
    height: 94px; }
  .webinar-item__caption {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.18px; }
  .webinar-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 108px);
    grid-template-columns: minmax(0, 1fr) minmax(0, 108px);
    grid-column-gap: 64px;
    -moz-column-gap: 64px;
    column-gap: 64px;
    min-height: 205px;
    padding: 34px 46px 36px; }
  .webinar-item__about {
    font-size: 14px;
    line-height: 19px; }
    .webinar-item__about .date + .duration {
      margin-left: 15px; }
  .webinars-schedule__actions {
    display: flex;
    align-items: center; }
    .webinars-schedule__actions > * + * {
      margin-top: 0;
      margin-left: 28px; } }


@media (min-width: 768px) {
  .webinar-full {
    padding: 40px 40px 78px; }
  .webinar-full__logo {
    margin-bottom: 40px; }
  .webinar-full__logo img {
    width: 106px;
    height: 106px; }
  .webinar-full__status {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em; }
  .webinar-full__status span + span {
    margin-left: 12px; }
    .webinar-full__status span + span::before {
      margin-right: 12px; }
  .webinar-full__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em; }
  .webinar-full__lector {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em; }
  .webinar-full__details {
    margin-bottom: 30px;
    padding-top: 30px; }
    .webinar-full__details .detail-caption {
      font-size: 14px;
      line-height: 18px; }
    .webinar-full__details .detail-info {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.02em; }
  .webinar-full__video {
    margin-bottom: 40px; }
  .webinar-full__about {
    font-size: 18px;
    line-height: 23px; } }


@media (min-width: 768px) {
  .lector-stat-wrapper {
    --side-gaps: 40px;
    background-color: rgba(255, 255, 255, 1);
    background-color: rgba(var(--white), 1);
    border-radius: 22px;
    padding-bottom: 46px; }
  .lector-stat {
    margin-bottom: 46px;
    background-color: transparent;
    border-radius: 0;
    padding: 70px var(--side-gaps) 0; }
  .lector-stat__pretitle,
  .lector-stat__title {
    padding-left: 0;
    padding-right: 0;
    text-align: left; }
  .lector-stat__pretitle {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em; }
  .lector-stat__title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -0.02em; }
  .lector-stat__chart {
    min-height: 450px;
    padding: 78px 64px; } }


@media (min-width: 768px) {
  .lector-data__actions {
    margin-bottom: 24px;
    padding-left: var(--side-gaps);
    padding-right: var(--side-gaps); }
    .lector-data__actions .select-all {
      display: none; }
  .lector-data__search {
    margin-bottom: 0; }
    .lector-data__search.form-control-search label {
      background-color: rgba(241, 241, 241, 1);
      background-color: rgba(var(--light-grey), 1); }
    .lector-data__search.form-control-search input {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
      font-weight: 400; }
      .lector-data__search.form-control-search input::-webkit-input-placeholder {
        line-height: 20px;
        font-weight: 400; }
      .lector-data__search.form-control-search input:-moz-placeholder {
        line-height: 20px;
        font-weight: 400; }
      .lector-data__search.form-control-search input::-moz-placeholder {
        line-height: 20px;
        font-weight: 400; }
      .lector-data__search.form-control-search input:-ms-input-placeholder {
        line-height: 20px;
        font-weight: 400; }
  .lector-data__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--side-gaps);
    padding-right: var(--side-gaps); }
    .lector-data__pagination .paginator {
      justify-content: flex-start; }
    .lector-data__pagination .paginator-nav span {
      display: inline; }
  .lector-data__pagination-count {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F; }
  .lector-data__save {
    padding-left: var(--side-gaps);
    padding-right: var(--side-gaps); }
  .lector-data__save .btn {
    width: auto;
    margin-top: 26px; }
  .lector-table {
    margin-bottom: 32px; }
    .lector-table thead {
      display: table-header-group;
      text-align: left; }
    .lector-table tbody {
      display: table-row-group; }
    .lector-table tr {
      border-top: 1px solid rgba(214, 211, 207, 0.5); }
    .lector-table tbody tr {
      display: table-row;
      padding: 0;
      background-color: transparent; }
    .lector-table thead th {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #969696; }
    .lector-table tbody td,
    .lector-table tbody td.td-experience {
      display: table-cell; }
    .lector-table tbody td .mob-only {
      display: none; }
    .lector-table tbody td {
      vertical-align: top; }
    .lector-table .mob-only-border {
      border-top: 0;
      padding-top: 0; }
    .lector-table .td-address,
    .lector-table .td-phone,
    .lector-table .td-actions {
      display: none; }
    .lector-table thead tr th,
    .lector-table tbody tr td {
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 24px !important;
      padding-bottom: 24px !important; }
      .lector-table thead tr th:first-child,
      .lector-table tbody tr td:first-child {
        padding-left: var(--side-gaps); }
      .lector-table thead tr th.td-experience,
      .lector-table tbody tr td.td-experience {
        padding-right: var(--side-gaps); }
    .lector-table td.td-status,
    .lector-table td.td-position,
    .lector-table td.td-address,
    .lector-table td.td-phone,
    .lector-table td.td-experience {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; }
    .lector-table td.td-personal .main,
    .lector-table td.td-status .main {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: normal;
      font-weight: 400; }
    .lector-table td.td-personal .muted,
    .lector-table td.td-status .muted {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      color: #969696;
      margin-top: 4px;
      word-break: break-all; }
    .lector-table td.td-personal {
      max-width: 200px; } }