/*SG styles*/
	* {
		box-sizing: border-box;
	}

	body {
		margin: 0 auto;
		font-family: "Open Sans", sans-serif;
	}

	.display--block {
		display: block;
	}

	.display--inline-block {
		display: inline-block;
	}

	.display--flex-row {
		display: flex;
	}

	/*Border*/
		.block-with-border {
			border: 1px solid #dfdfdf;
		}

		.block-with-border--top {
			border-top: 1px solid #dfdfdf;
		}
	
	/*BG colors*/
		.bg-primary--dark {
			background: #024f60;
		}

		.bg-primary--normal {
			background: #0f7e96;
		}

		.bg-primary--light {
			background: #2ca3bc;
		}

		.bg-secondary--dark {
			background: #631737;
		}

		.bg-secondary--normal {
			background: #a5275c;
		}

		.bg-secondary--light {
			background: #bc537c;
		}

		.bg-dark-grays--dark {
			background: #1a1a1a;
		}

		.bg-dark-grays--normal {
			background: #303030;
		}

		.bg-dark-grays--light {
			background: #747474;
		}

		.bg-light-grays--dark {
			background: #cbcaca;
		}

		.bg-light-grays--normal {
			background: #e4e4e3;
		}

		.bg-light-grays--light {
			background: #f2f2f2;
		}
	
	/*text colors*/
		.color--white {
			color: #fff;
		}

		.color--dark {
			color: #222;
		}

		.color--light {
			color: #727272;
		}

		.color-primary--dark {
			color: #024f60;
		}

		.color-primary--normal {
			color: #0f7e96;
		}

		.color-primary--light {
			color: #2ca3bc;
		}

		.color-secondary--dark {
			color: #631737;
		}

		.color-secondary--normal {
			color: #a5275c;
		}

		.color-secondary--light {
			color: #bc537c;
		}

		.color-dark-grays--dark {
			color: #1a1a1a;
		}

		.color-dark-grays--normal {
			color: #303030;
		}

		.color-dark-grays--light {
			color: #747474;
		}
	
	/*Typography desktop*/
		.title-l1--desktop {
			font-size: 34px;
			font-weight: bold;
			line-height: 1.206; /*41px*/
		}

		.title-l2--desktop {
			font-size: 27px;
			font-weight: bold;
			line-height: 1.185; /*32px*/
		}

		.title-l3--desktop {
			font-size: 22px;
			font-weight: bold;
			line-height: 1.182; /*26px*/
		}

		.title-l4--desktop {
			font-size: 17px;
			font-weight: bold;
			line-height: 1.235; /*21px*/
		}

		.title-l5--desktop {
			font-size: 16px;
			font-weight: bold;
			line-height: 1.25; /*20px*/
		}

		.title-l6--desktop {
			font-size: 14px;
			font-weight: bold;
			line-height: 1.286; /*18px*/
		}

		.txt-normal--desktop {
			font-size: 14px;
			line-height: 1.429; /*20px*/
		}

		.txt-small--desktop {
			font-size: 12px;
			line-height: 1.417; /*17px*/
		}

		.blockquote--desktop {
			margin-left: 26px;
			margin-right: 26px;
		}

		.list-lvl1--desktop {
			padding-left: 26px;
		}

		.list__item--desktop {
			padding: 6px 0;
		}

	/*Typography mobile*/
		.title-l1--mobile {
			font-size: 26px;
			font-weight: bold;
			line-height: 1.154; /*30px*/
		}

		.title-l2--mobile {
			font-size: 22px;
			font-weight: bold;
			line-height: 1.182; /*26px*/
		}

		.title-l3--mobile {
			font-size: 18px;
			font-weight: bold;
			line-height: 1.167; /*21px*/
		}

		.title-l4--mobile {
			font-size: 15px;
			font-weight: bold;
			line-height: 1.2; /*18px*/
		}

		.title-l5--mobile,
		.title-l6--mobile {
			font-size: 14px;
			font-weight: bold;
			line-height: 1.286; /*18px*/
		}

		.txt-normal--mobile {
			font-size: 12px;
			line-height: 1.417; /*17px*/
		}

		.txt-small--mobile {
			font-size: 11px;
			line-height: 1.364; /*15px*/
		}

		.blockquote--mobile {
			margin-left: 18px;
			margin-right: 18px;
		}

		.list-lvl1--mobile {
			padding-left: 18px;
		}

		.list__item--mobile {
			padding: 5px 0;
		}

	/*Typography general*/
		.txt--bold {
			font-weight: 700;
		}

		.txt--italic {
			font-style: italic;
		}

		.link {
			text-decoration: none;
			font-size: 14px;
			line-height: 1.429; /*20px*/
			color: #0f7e96;
		}

		.link:hover,
		.link:focus {
			text-decoration: underline;
			color: #024f60;
		}

		.list-lvl1__item--colored {
			color: #007975;
		}

		.list-lvl2__item--colored {
			color: #409b98;
		}
		
		.list-lvl2 {
			padding-left: 36px;
		}

		.list-style--square {
			list-style: square;
		}

		.g-blockquote {
			border-left: 4px solid #dfdfdf;
			padding-left: 14px;
		}

	/*Buttons*/
		.g-btn {
			display: inline-block;
			text-decoration: none;
			transition: all .5s ease-in-out;
		}

		.btn-classic {
			font-size: 16px;
			line-height: 2.375; /*38px*/
			padding-left: 20px;
		}

		.btn-news {
			font-size: 14px;
			line-height: 2.286; /*32px*/
			padding-left: 20px;
		} 

		.btn__angle-right::after {
			font-family: FontAwesome;
			content: '\f105';
			display: inline-block;
			padding-left: 18px;
			padding-right: 16px;
		}

		.btn-classic:hover,
		.btn-classic:focus,
		.btn-classic:active {
			background: #024f60;
		}

		.btn-news:hover,
		.btn-news:focus,
		.btn-news:active {
			background: #a5275c;
			color: #fff;
		}

		.g-btn:active.btn__angle-right::after {
			padding-left: 26px;
			padding-right: 8px;
		}

	/*Icons*/
		.icon {
			text-decoration: none;
			padding: 10px;
			
		}

		.icon::before {
			font-family: FontAwesome;
			display: inline-block;
			width: 16px;
			height: 16px;
			transition: .5s ease-in-out;
			text-align: center;
		}

		.icon-angle-right::before {
			content: '\f105';
		}

		.icon-facebook-f::before {
			content: '\f09a';
		}

		.icon-twitter::before {
			content: '\f099';
		}

		.icon-linkedin::before {
			content: '\f0e1';
		}

		.icon-envelope::before {
			content: '\f0e0';
		}

		.icon-phone::before {
			content: '\f095';
		}

		.icon:hover.icon::before,
		.icon:focus.icon::before {
			transform: scale(1.3);
		}

	/*Forms*/
		.form {
			/*width: 60%;*/
		}

		.form__input-gap {
			margin-bottom: 28px;
			padding: 0;
			position: relative;
			border: none;
		}

		.input-title {
			font-size: 16px;
			line-height: 1.375; /*22px*/
			margin-bottom: 4px;
		}

		.input-property {
			line-height: 3; /*42px*/
		}

		.input-property,
		.textarea-property {
			padding: 0 12px;	
			width: 100%;
			font-size: 14px;
			color: #222;
		}


		.textarea-property {
			min-height: 190px;
			line-height: 1.571; /*22px*/
			padding-top: 12px;
			padding-bottom: 12px;
		}


		.select-property {
			font-size: 16px;
			height: 42px;
			padding-left: 12px;
			min-width: 60%;
		}

		.placeholder-style {
			font-style: italic;
			color: #727272;
		}
			
		.disabled-field {
			background: #dfdfdf;
		}	

		.input--error-message {
			color: #a52727;
			font-size: 12px;
			position: absolute;
			right: 0;
			display: none;
		}

		.input-property:focus:invalid,
    	.textarea-property:focus:invalid {
			outline: none;
			border: 1px solid #a52727;
		}
		
		.input-property:focus:invalid ~ .input--error-message,
		.textarea-property:focus:invalid ~ .input--error-message {
			display: block;
		}

		.input-property:valid,
		.textarea-property:valid {
			outline: none;
			border: 1px solid #409b98;
		}

		.input-property:focus,
		.textarea-property:focus,
		.select-property:focus {
			outline: none;
			border: 1px solid #bfbfbf;
		}

		.label-for-radio-checkbox {
			font-size: 16px;
			line-height: 1.625; /*26px*/
			margin-right: 50px;
		}

		.input-for-radio-checkbox {
			margin-right: 20px;
		}


		.file-field {
			font-size: 14px;
			line-height: 1.571; /*22px*/
		}

		.file-field__input  {
			display: none;
		}

		.file-field__btn {
			background: #f2f2f2;
			border: 1px solid #9e9e9e;
			border-radius: 2px;
			padding: 2px 18px;
			margin-right: 16px;
		}

		.file-field__btn:hover,
		.file-field__btn:focus {
			background: #dfdfdf;
		}

		.btn-form {
			display: block;
			cursor: pointer;
			border: none;
			padding: 0 30px;
			line-height: 38px;
		}

		.btn-form:hover,
		.btn-form:focus,
		.btn-form:active {
			background: #024f60;
		}

	/*Tables*/
		.table {
			border-collapse: collapse;
			text-align: left;
			font-size: 16px;
			line-height: 2.5; /*22px*/
			margin-bottom: 68px;
		}

		.table__data {
			padding: 0 20px;
			min-width: 350px;
		}

		.table__header-column {
			padding: 0 20px;
			min-width: 230px;			
		}

	/* Images */
		.img-caption-container {
			padding: 24px;
			margin-top: 36px;
		}
		
		.img-with-caption {
			width: 100%;
			height: auto;
		}

		.img-caption {
			margin-top: 24px;
			margin-bottom: 0;
			text-align: center;
		}

		.img-full-screen--centered {
			display: block;
			height: auto;
			margin: 30px auto;
			width: calc(100% - 22px);
		}

		.img--left-aligned {
			float: left;
			margin-right: 26px;
		}

		.img--right-aligned {
			float: right;
			margin-left: 26px;
		}
		
		.img--right-aligned,
		.img--left-aligned {
			display: block;
			width: 300px;
		}

	/*UI elements*/
		.list-style--none {
			list-style: none;
			padding: 0;
		}

		.ui-nav {
			justify-content: center;
			padding-top: 16px;
			font-size: 14px;
		}


		.ui-nav__btn-previous--desktop {
			text-decoration: none;
			padding: 6px 18px 6px 12px;
			margin-right: 54px;
		}

		.ui-nav__btn-next--desktop {
			text-decoration: none;
			padding: 6px 12px 6px 18px;
			margin-left: 54px;
		}

		.ui-nav__next-angle::after {
			font-family: FontAwesome;
			content: '\f105';
			padding-left: 12px;
		}

		.ui-nav__btn--not-active {
			color: #727272;
			cursor: default;
		}

		.ui-nav__btn--active {
			color: #0f7e96;
			background: #f6f6f6;
			transition: all 0.3s ease-out;
		}

		.ui-nav__btn--active:hover,
		.ui-nav__btn--active:focus {
			color: #fff;
			background: #0f7e96;
		}

		.ui-nav__item {
			text-decoration: none;
			padding: 6px 4px;
			line-height: 22px;
		}

		.ui-nav__hidden-items {
			padding: 0 4px;
		}

		.ui-nav__item:hover,
		.ui-nav__item:focus {
			color: #024f60;
			text-decoration: underline;
		}

		.ui-nav__btn--mobile {
			text-decoration: none;
			padding: 6px 12px;
			background: #f6f6f6;
			transition: all 0.3s ease-out;
		}

		.ui-nav__btn--mobile:first-child {
			margin-right: 50px;
		}

		.ui-nav__btn--mobile:last-child {
			margin-left: 50px;
		}


/* not SG styles */
	.notSG-input,
	.notSG-section {
		display: none;
		padding-bottom: 10px;
	}

	.notSG-label-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid #3b3b3b;
		width: 25%;
		height: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
		top: 0;
	}

	.notSG-label-title,
	.notSG-title {
		font-family: "Source Sans Pro", sans-serif;
		color: #3b3b3b;
		width: 100%;
	}		

	.notSG-title {
		font-size: 32px;
		line-height: 2.5;
		border-bottom: 1px solid;
		margin-top: 0;
		margin-bottom: 32px;
	}
	
	.notSG-label-title {
		font-size: 24px;
		height: 100%;
		cursor: pointer;
		text-align: center;
	}

	.notSG-element--centering {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.notSG-label-title:not(:last-child) {
		border-bottom: 1px solid;
	}
	
	[id="notSG-colors"]:checked ~ .notSG-general-wrapper [for="notSG-colors"],
	[id="notSG-typography"]:checked ~ .notSG-general-wrapper [for="notSG-typography"],
	[id="notSG-buttons"]:checked ~ .notSG-general-wrapper [for="notSG-buttons"],
	[id="notSG-icons"]:checked ~ .notSG-general-wrapper [for="notSG-icons"],
	[id="notSG-forms"]:checked ~ .notSG-general-wrapper [for="notSG-forms"],
	[id="notSG-tables"]:checked ~ .notSG-general-wrapper [for="notSG-tables"],
	[id="notSG-img-alignments"]:checked ~ .notSG-general-wrapper [for="notSG-img-alignments"],
	[id="notSG-ui-elements"]:checked ~ .notSG-general-wrapper [for="notSG-ui-elements"] {
		background: rgba(59, 59, 59, 0.8);
		color: #fff;
	}

	
	[id="notSG-colors"]:checked ~ .notSG-general-wrapper .notSG-colors,
	[id="notSG-typography"]:checked ~ .notSG-general-wrapper .notSG-typography,
	[id="notSG-buttons"]:checked ~ .notSG-general-wrapper .notSG-buttons,
	[id="notSG-icons"]:checked ~ .notSG-general-wrapper .notSG-icons,
	[id="notSG-forms"]:checked ~ .notSG-general-wrapper .notSG-forms,
	[id="notSG-tables"]:checked ~ .notSG-general-wrapper .notSG-tables,
	[id="notSG-img-alignments"]:checked ~ .notSG-general-wrapper .notSG-img-alignments,
	[id="notSG-ui-elements"]:checked ~ .notSG-general-wrapper .notSG-ui-elements {
		display: block;
	}
	
	.notSG-section-wrapper {
		margin: 0 16px 0 26%;
	}

	.notSG-colors__title {
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 400;
		font-size: 18px;
	}

	.notSG-bg {
		width: 306px;
		height: 150px;
		display: grid;
		grid-template-rows: 50% 50%;
		margin-bottom: 32px;
	}

	.notSG-bg__block {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr; 
		text-align: center;
		font-family: "Source Sans Pro", sans-serif;
		font-size: 16px;
		line-height: 1;
	}

	.notSG-bg__block > div  {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.notSG-bg__block p,
	.notSG-subtitle,
	.notSG-paragraph {
		padding: 0;
		margin: 0;
	}

	.notSG-bg__text-block div {
		width: 16px;
		height: 16px;
	}

	.notSG-colors .notSG-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.notSG-subtitle,
	.notSG-paragraph {
		font-family: "Source Sans Pro", sans-serif;
		line-height: 30px;
	}
	
	.notSG-subtitle {
		font-size: 26px;
	}

	.notSG-paragraph {
		font-size: 20px;
	}

	.notSG-typography .notSG-container,
	.notSG-ui-elements .notSG-container{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	.notSG__desktop::before,
	.notSG__mobile::before {
		content: "";
		display: block;
		border-top: 1px solid;
		margin-top: 32px;
		margin-bottom: 64px;
	}

	.notSG__desktop,
	.notSG__mobile {
		position: relative;
	}

	.notSG__desktop::after,
	.notSG__mobile::after {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: auto;
		text-align: center;
	}

	.notSG__desktop::after {
		content: url(images/computer.png);
	}

	.notSG__mobile::after { 
		content: url(images/mobile.png);
	}
	.notSG__desktop {
		margin-right: 40px;
	}